<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" StylesheetTheme="Example" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="Button BackgroundImageLayout Property" ID="windowView" LoadAction="ButtonBackgroundImageLayout\OnLoad">

        <vt:Label runat="server" SkinID="Title" Text="BackgroundImageLayout" Left="260px" ID="lblTitle"></vt:Label>

        <vt:Label runat="server" Text="Gets or sets the background image position on the control (Center , None, Stretch, Tile or Zoom).
            Tile is the default value." Top="75px"  ID="lblDefinition1"></vt:Label>
      
        
        <vt:Button runat="server" SkinID="Wide" BackgroundImage ="~/Content/Images/icon.jpg" Height="70" Text="Button" Top="140px" ID="TestedButton1"></vt:Button>
        <vt:Label runat="server" SkinID="Log" Top="220px" ID="lblLog1"></vt:Label>
 
        <vt:Label runat="server" Text="BackgroundImageLayout takes effect only if the BackgroundImage property is set." Top="270px"  ID="lblDefinition2"></vt:Label>
      

        <vt:Label runat="server" SkinID="SubTitle" Text="Example:" Top="330px"  ID="lblExample"></vt:Label>
        <vt:Label runat="server" Text="In the following example, the initial BackgroundImageLayout of TestedButton is set to 'Center'.
            Use the buttons below (None/ Stretch/ Center/ Zoom/ Tile) to change the TestedButton 
            Background Image Layout." Top="380px"  ID="lblExp1"></vt:Label>     
        
        <vt:Button runat="server" SkinID="Wide" Text="TestedButton" BackgroundImage ="~/Content/Images/icon.jpg" BackgroundImageLayout ="Center" Height="70" Top="460px" ID="TestedButton2"></vt:Button>
        <vt:Label runat="server" SkinID="Log" Top="540px" ID="lblLog2"></vt:Label>

         <vt:Button runat="server" Text="Tile"  Top="600px" Left="560px" ID="btnTile" Height="30px" TabIndex="1" Width="60px" ClickAction="buttonBackgroundImageLayout\btnTile_Click"></vt:Button>  
         <vt:Button runat="server" Text="Center"   Top="600px" Left="340px" ID="btnCenter" Height="30px" TabIndex="1" Width="60px" ClickAction="buttonBackgroundImageLayout\btnCenter_Click"></vt:Button>  
         <vt:Button runat="server" Text="Stretch"   Top="600px" Left="230px" ID="btnStretch" Height="30px" TabIndex="1" Width="60px" ClickAction="buttonBackgroundImageLayout\btnStretch_Click"></vt:Button>  
         <vt:Button runat="server" Text="Zoom"  Top="600px" Left="450px" ID="btnZoom" Height="30px" TabIndex="1" Width="60px" ClickAction="buttonBackgroundImageLayout\btnZoom_Click"></vt:Button>  
         <vt:Button runat="server" Text="None" Top="600px" Left="120px" ID="btnNone" Height="30px" TabIndex="1" Width="60px" ClickAction="buttonBackgroundImageLayout\btnNone_Click"></vt:Button> 
 
    </vt:WindowView>
</asp:Content>


