﻿body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    background-color: #F7F7F7;
}

.login-card {
    width: 100%;
    height:100%;
    border-radius: 2px;
    overflow: hidden;
  
}

.login-card h1 {
    text-align: center;
    font-size: 3.3em;
}


.input {
    width: 100%;
    font-size: 3.3em;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    direction: rtl;
}

.InputListBox {
    width: 100%;
    font-size: 3.3em;
    -webkit-appearance: none;
    background: #fff;
     
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    direction: rtl;
}

.InputListBox > option:checked {
    background-color:  #ffffd0 !important ;
}

  


 .login-card input[type=submit] {
    width: 100%;
    margin-top:5%;
    height:100%;
    display: block;
    position: relative;
    font-size: 3.3em;
}



.validation1 {
    direction: rtl ;
    color: red;
     font-size:30px;
}

.validation2 {
    
    color: red;
    font-size:30px;
}

 

.login-submit {
    border: 0px;
    color: #fff;
    height: 70px;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #4d90fe;
    
}

 

 