<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" StylesheetTheme="Example" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="Tree Left Property" ID="windowView2" LoadAction="TreeLeft\OnLoad">

        <vt:Label runat="server" SkinID="Title" Text="Left" ID="lblTitle"></vt:Label>

        <vt:Label runat="server" Text="Gets or sets the distance, in pixels, between the left edge 
            of the control and the left edge of its container's client area.
            
            Syntax: public int Left { get; set; }" Top="75px"  ID="lblDefinition"></vt:Label>
      

        <vt:Label runat="server" SkinID="SubTitle" Text="Example:" Top="200px"  ID="lblExample"></vt:Label>

        <vt:Label runat="server" Text="Left property of this Tree is initially set to 80px" Top="250px"  ID="lblExp1"></vt:Label>     
        
        <!-- TestedTree -->
        <vt:Tree runat="server" Text="TestedTree" Top="300px" ID="TestedTree">
            <Items>
                <vt:TreeItem runat="server" Text="Node0" ID="Tree1Item1"></vt:TreeItem>
                <vt:TreeItem runat="server" Text="Node1" ID="Tree1Item2"></vt:TreeItem>
                <vt:TreeItem runat="server" Text="Node2" ID="Tree1Item3"></vt:TreeItem>
            </Items>
        </vt:Tree>

        <vt:Label runat="server" SkinID="Log" Top="425px" ID="lblLog"></vt:Label>
          
        <vt:Button runat="server" Text="Change Left Value >>" Top="490px" ID="ChangeLeft" ClickAction="TreeLeft\ChangeLeft_Click"></vt:Button>

    </vt:WindowView>
</asp:Content>