<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
   
     <vt:WindowView runat="server" Text="Tested Window" Top="57px" Left="100px" ID="windowView2" Height="600px" Width="700px" WindowClosedAction ="ClosedTestedWindow\ClosedTestedWindow_Closed">
		

        </vt:WindowView>
</asp:Content>