<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.d_crossdoc_driver_report_headerRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="Window">
	<Bands>
<vt:DataViewBand runat="server" Height="169px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewGroupBoxField runat="server" Visible="True" Left="5px" Top="28px" ID="gb_1" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" Height="95px" Width="731px"></vt:DataViewGroupBoxField>
<vt:DataViewLabelField runat="server" Text="&quot;דו&quot;ח קליטת סחורה קרוסדוק&quot;" TemplateText="&quot;דו&quot;ח קליטת סחורה קרוסדוק&quot;" Visible="True" Left="298px" Top="3px" Alignment="Right" ID="t_title" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="156px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;:מס חנות&quot;" TemplateText="&quot;:מס חנות&quot;" Visible="True" Left="672px" Top="33px" Alignment="Right" ID="shipment_pallets_branch_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="48px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;:תאריך&quot;" TemplateText="&quot;:תאריך&quot;" Visible="True" Left="680px" Top="56px" Alignment="Right" ID="shipment_pallets_arrive_datetime_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="40px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;:שעת תחילת קליטה&quot;" TemplateText="&quot;:שעת תחילת קליטה&quot;" Visible="True" Left="619px" Top="79px" ID="arrive_time_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="101px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;:מספר משלוח&quot;" TemplateText="&quot;:מספר משלוח&quot;" Visible="True" Left="647px" Top="102px" Alignment="Right" ID="shipment_pallets_shipment_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="73px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;:שם חנות&quot;" TemplateText="&quot;:שם חנות&quot;" Visible="True" Left="382px" Top="33px" Alignment="Right" ID="global_parameters_branch_name_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="49px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;:תאריך הדפסת טופס קליטה&quot;" TemplateText="&quot;:תאריך הדפסת טופס קליטה&quot;" Visible="True" Left="289px" Top="56px" Alignment="Right" ID="print_date_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="142px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;:שעת הדפסת טופס קליטה&quot;" TemplateText="&quot;:שעת הדפסת טופס קליטה&quot;" Visible="True" Left="297px" Top="79px" Alignment="Right" ID="scan_time_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="134px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;:שם מחסנאי&quot;" TemplateText="&quot;:שם מחסנאי&quot;" Visible="True" Left="363px" Top="102px" Alignment="Right" ID="t_1" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="68px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="global_parameters_branch_name" Visible="True" Left="150px" Top="33px" ID="global_parameters_branch_name" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="133px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="print_date" Visible="True" Left="214px" Top="56px" ID="print_date" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="69px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="scan_time" Visible="True" Left="239px" Top="79px" Alignment="Center" ID="scan_time" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="44px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="employee_name" Visible="True" Left="165px" Top="102px" Alignment="Right" ID="employee_name" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="118px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="branch_number" Visible="True" Left="540px" Top="33px" ID="branch_number" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="69px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="shipment_pallets_arrive_datetime" Visible="True" Left="540px" Top="56px" ID="shipment_pallets_arrive_datetime" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="69px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="shipment_pallets_arrive_time" Visible="True" Left="560px" Top="79px" Alignment="Center" ID="shipment_pallets_arrive_time" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="49px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="shipment_number" Visible="True" Left="540px" Top="102px" Alignment="Center" ID="shipment_number" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="69px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;:סה&quot;כ נקלטו&quot;" TemplateText="&quot;:סה&quot;כ נקלטו&quot;" Visible="True" Left="667px" Top="129px" ID="total_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="69px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;כמות קרטונים&quot;" TemplateText="&quot;כמות קרטונים&quot;" Visible="True" Left="252px" Top="152px" Alignment="Center" ID="shipment_crossdoc_pack_quantity_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="102px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;ברקוד קרטון&quot;" TemplateText="&quot;ברקוד קרטון&quot;" Visible="True" Left="357px" Top="152px" Alignment="Center" ID="shipment_crossdoc_carton_barcode_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="115px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;שם ספק&quot;" TemplateText="&quot;שם ספק&quot;" Visible="True" Left="475px" Top="152px" Alignment="Center" ID="supplier_name_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="169px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;ספק&quot;" TemplateText="&quot;ספק&quot;" Visible="True" Left="647px" Top="152px" Alignment="Center" ID="supplier_number_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="87px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;האם קרטון הגיע&quot;" TemplateText="&quot;האם קרטון הגיע&quot;" Visible="True" Left="162px" Top="152px" Alignment="Center" ID="shipment_crossdoc_state_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="87px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="18px" ForeColor="#000000" Type="Summary" ID="summary"><Fields>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="252px" Top="1px" ID="compute_pack_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="102px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="357px" Top="1px" ID="compute_pallets_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="115px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="173px" ForeColor="#000000" Type="Footer" ID="footer"><Fields>
<vt:DataViewLabelField runat="server" Text="&quot;חתימה&quot;" TemplateText="&quot;חתימה&quot;" Visible="True" Left="700px" Top="150px" Alignment="Right" ID="signature_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="35px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;______________&quot;" TemplateText="&quot;______________&quot;" Visible="True" Left="545px" Top="119px" Alignment="Right" ID="line_driver_name_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="98px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;שם מקבל הסחורה&quot;" TemplateText="&quot;שם מקבל הסחורה&quot;" Visible="True" Left="400px" Top="119px" Alignment="Right" ID="accept_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="94px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;______________&quot;" TemplateText="&quot;______________&quot;" Visible="True" Left="545px" Top="150px" Alignment="Right" ID="line_signature_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="98px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;חתימה&quot;" TemplateText="&quot;חתימה&quot;" Visible="True" Left="453px" Top="150px" Alignment="Right" ID="employee_signature_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="41px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;______________&quot;" TemplateText="&quot;______________&quot;" Visible="True" Left="250px" Top="119px" Alignment="Right" ID="line_accept_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="98px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;______________&quot;" TemplateText="&quot;______________&quot;" Visible="True" Left="250px" Top="150px" Alignment="Right" ID="line_employee_signature_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="98px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;שם נהג&quot;" TemplateText="&quot;שם נהג&quot;" Visible="True" Left="694px" Top="119px" Alignment="Right" ID="driver_name_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="41px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;:הערות&quot;" TemplateText="&quot;:הערות&quot;" Visible="True" Left="696px" Top="6px" Alignment="Right" ID="notes_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="39px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="18px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="shipment_pallets_pack_quantity" Visible="True" Left="252px" Top="1px" Alignment="Center" ID="shipment_pallets_pack_quantity" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="102px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="carton_barcode" Visible="True" Left="357px" Top="1px" Alignment="Center" ID="carton_barcode" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="115px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_name" Visible="True" Left="475px" Top="1px" Alignment="Center" ID="supplier_name" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="169px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_number" Visible="True" Left="647px" Top="1px" Alignment="Center" ID="supplier_number" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="87px"></vt:DataViewTextField>
<vt:DataViewComboField runat="server" Visible="True" Left="162px" Top="1px" Alignment="Center" ID="state" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="87px"></vt:DataViewComboField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

