<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.d_invoices_detailsRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="Window">
	<Bands>
<vt:DataViewBand runat="server" Height="29px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewLabelField runat="server" Text="&quot;מס&quot;" TemplateText="&quot;מס&quot;" Visible="True" Left="290px" Top="1px" Alignment="Center" ID="num_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="27px" Width="24px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;&quot;" TemplateText="&quot;&quot;" Visible="True" Left="264px" Top="1px" ID="t_1" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="27px" Width="24px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;&quot;" TemplateText="&quot;&quot;" Visible="True" Left="178px" Top="1px" ID="materials_barcode_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="27px" Width="84px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="2px" Top="1px" Alignment="Center" ID="doc_no_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="27px" Width="54px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;ח&quot;" TemplateText="&quot;ח&quot;" Visible="True" Left="58px" Top="1px" Alignment="Center" ID="invoice_details_invoice_quantity_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="27px" Width="38px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;ה&quot;" TemplateText="&quot;ה&quot;" Visible="True" Left="98px" Top="1px" Alignment="Center" ID="order_quantity_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="27px" Width="38px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;מ&quot;" TemplateText="&quot;מ&quot;" Visible="True" Left="138px" Top="1px" Alignment="Center" ID="expected_material_quantity_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="27px" Width="38px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="supplier_number" Visible="True" Left="338px" Top="6px" ID="supplier_number" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="73px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="123px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="materials_barcode" Visible="True" Left="178px" Top="1px" Alignment="Center" ID="materials_barcode" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="84px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="materials_material_name" Visible="True" Left="178px" Top="16px" ID="materials_material_name" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="13px" Width="84px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="order_quantity" Visible="True" Left="98px" Top="1px" Alignment="Center" ID="order_quantity" BorderStyle="Inset" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="28px" Width="38px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_quantity" Visible="True" Left="64px" Top="1px" ID="material_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="28px" Width="30px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="expected_material_quantity" Visible="True" Left="138px" Top="1px" ID="expected_material_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="26px" Width="37px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="doc_no_en" Visible="True" Left="11px" Top="20px" ID="doc_no_en" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="13px" Width="53px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_number" Visible="True" Left="9px" Top="2px" ID="material_number" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="11px" Width="57px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_discount_percent" Visible="True" Left="206px" Top="35px" ID="material_discount_percent" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="60px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="290px" Top="1px" ID="compute_1" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="14px" Width="24px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;קוד&quot;" TemplateText="&quot;קוד&quot;" Visible="True" Left="264px" Top="1px" ID="t_2" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="24px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;שם&quot;" TemplateText="&quot;שם&quot;" Visible="True" Left="264px" Top="16px" ID="code_desc_t" BorderStyle="Inset" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="24px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="invoice_number" Visible="True" Left="329px" Top="1px" ID="invoice_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="14px" Width="62px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="row_no" Visible="True" Left="293px" Top="17px" ID="row_no" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="14px" Width="29px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="current_catalog_sell_price" Visible="True" Left="4px" Top="41px" ID="current_catalog_sell_price" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="74px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="mini_terminal" Visible="True" Left="5px" Top="63px" ID="mini_terminal" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="28px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="expiration_date" Visible="True" Left="83px" Top="39px" ID="expiration_date" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="84px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="order_serial" Visible="True" Left="173px" Top="35px" ID="order_serial" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="28px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="color" Visible="True" Left="8px" Top="101px" ID="color" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="28px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="materials_min_valid_months" Visible="True" Left="40px" Top="102px" ID="materials_min_valid_months" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="95px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_status" Visible="True" Left="42px" Top="82px" ID="b2b_status" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="14px" Width="27px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="sell_price" Visible="True" Left="67px" Top="80px" ID="sell_price" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="47px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="indicator" Visible="True" Left="137px" Top="102px" ID="indicator" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="28px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="packing_list_number" Visible="True" Left="177px" Top="102px" ID="packing_list_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="36px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_price_after_discount" Visible="True" Left="116px" Top="65px" ID="material_price_after_discount" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="112px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_price" Visible="True" Left="174px" Top="68px" ID="material_price" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="112px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="declines" Visible="True" Left="222px" Top="100px" ID="declines" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="67px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="import_type" Visible="True" Left="297px" Top="100px" ID="import_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="28px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="cng_doc_count" Visible="True" Left="287px" Top="41px" ID="cng_doc_count" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="53px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="doc_state" Visible="True" Left="349px" Top="45px" ID="doc_state" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="60px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="last_update_datetime" Visible="True" Left="384px" Top="89px" ID="last_update_datetime" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="203px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="distributor_number" Visible="True" Left="424px" Top="48px" ID="distributor_number" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="108px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="bonus_quantity" Visible="True" Left="293px" Top="66px" ID="bonus_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="60px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="inv_pack_quantity" Visible="True" Left="310px" Top="86px" ID="inv_pack_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="54px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="state" Visible="True" Left="369px" Top="64px" ID="state" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="64px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

