<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.d_mini_terminal_pallet_invoicesRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="Window">
	<Bands>
<vt:DataViewBand runat="server" Height="20px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewLabelField runat="server" Text="&quot;Serial Number&quot;" TemplateText="&quot;Serial Number&quot;" Visible="True" Left="2px" Top="2px" Alignment="Center" ID="serial_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="82px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Date Move&quot;" TemplateText="&quot;Date Move&quot;" Visible="True" Left="86px" Top="2px" Alignment="Center" ID="date_move_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;State&quot;" TemplateText="&quot;State&quot;" Visible="True" Left="220px" Top="2px" Alignment="Center" ID="state_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="31px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Branch Number&quot;" TemplateText="&quot;Branch Number&quot;" Visible="True" Left="253px" Top="2px" Alignment="Center" ID="branch_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="90px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Supplier Number&quot;" TemplateText="&quot;Supplier Number&quot;" Visible="True" Left="345px" Top="2px" Alignment="Center" ID="supplier_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="96px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Invoice Number&quot;" TemplateText="&quot;Invoice Number&quot;" Visible="True" Left="443px" Top="2px" Alignment="Center" ID="invoice_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="88px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Order Number&quot;" TemplateText="&quot;Order Number&quot;" Visible="True" Left="533px" Top="2px" Alignment="Center" ID="order_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="81px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Row Serial Number&quot;" TemplateText="&quot;Row Serial Number&quot;" Visible="True" Left="616px" Top="2px" Alignment="Center" ID="row_serial_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="111px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Shipment Number&quot;" TemplateText="&quot;Shipment Number&quot;" Visible="True" Left="729px" Top="2px" Alignment="Center" ID="shipment_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="104px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Pallet Number&quot;" TemplateText="&quot;Pallet Number&quot;" Visible="True" Left="835px" Top="2px" Alignment="Center" ID="pallet_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="82px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Pack Quantity&quot;" TemplateText="&quot;Pack Quantity&quot;" Visible="True" Left="919px" Top="2px" Alignment="Center" ID="pack_quantity_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="83px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Arrive Datetime&quot;" TemplateText="&quot;Arrive Datetime&quot;" Visible="True" Left="1004px" Top="2px" Alignment="Center" ID="arrive_datetime_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Approve Employee&quot;" TemplateText="&quot;Approve Employee&quot;" Visible="True" Left="1138px" Top="2px" Alignment="Center" ID="approve_employee_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="108px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Auto Scan Status&quot;" TemplateText="&quot;Auto Scan Status&quot;" Visible="True" Left="1248px" Top="2px" Alignment="Center" ID="auto_scan_status_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="103px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Document Type&quot;" TemplateText="&quot;Document Type&quot;" Visible="True" Left="1353px" Top="2px" Alignment="Center" ID="document_type_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="91px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Create Mode&quot;" TemplateText="&quot;Create Mode&quot;" Visible="True" Left="1446px" Top="1px" ID="create_mode_t" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="4px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="23px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="serial_number" Visible="True" Left="2px" Top="2px" Alignment="Right" ID="serial_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="82px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="date_move" Visible="True" Left="86px" Top="2px" ID="date_move" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="state" Visible="True" Left="220px" Top="2px" ID="state" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="31px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="branch_number" Visible="True" Left="253px" Top="2px" Alignment="Right" ID="branch_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="90px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_number" Visible="True" Left="345px" Top="2px" Alignment="Right" ID="supplier_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="96px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="invoice_number" Visible="True" Left="443px" Top="2px" Alignment="Right" ID="invoice_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="88px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="order_number" Visible="True" Left="533px" Top="2px" Alignment="Right" ID="order_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="81px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="row_serial_number" Visible="True" Left="616px" Top="2px" Alignment="Right" ID="row_serial_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="111px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="shipment_number" Visible="True" Left="729px" Top="2px" Alignment="Right" ID="shipment_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="104px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="pallet_number" Visible="True" Left="835px" Top="2px" Alignment="Right" ID="pallet_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="82px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="pack_quantity" Visible="True" Left="919px" Top="2px" Alignment="Right" ID="pack_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="83px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="arrive_datetime" Visible="True" Left="1004px" Top="2px" ID="arrive_datetime" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="approve_employee" Visible="True" Left="1138px" Top="2px" Alignment="Right" ID="approve_employee" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="108px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="auto_scan_status" Visible="True" Left="1248px" Top="2px" Alignment="Right" ID="auto_scan_status" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="103px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="document_type" Visible="True" Left="1353px" Top="2px" Alignment="Right" ID="document_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="91px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="create_mode" Visible="True" Left="1446px" Top="0px" ID="create_mode" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="4px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

