<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.d_mini_terminal_pallet_b2b_invoiceRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="Window">
	<Bands>
<vt:DataViewBand runat="server" Height="36px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="2px" Top="2px" Alignment="Center" ID="b2b_invoice_details_branch_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="114px" Top="2px" Alignment="Center" ID="b2b_invoice_details_supplier_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="226px" Top="2px" Alignment="Center" ID="b2b_invoice_details_order_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="338px" Top="2px" Alignment="Center" ID="b2b_invoice_details_invoice_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="450px" Top="2px" Alignment="Center" ID="b2b_invoice_details_serial_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="562px" Top="2px" Alignment="Center" ID="b2b_invoice_details_line_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="674px" Top="2px" Alignment="Center" ID="b2b_invoice_details_upd_date_time_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="808px" Top="2px" Alignment="Center" ID="b2b_invoice_details_status_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="920px" Top="2px" Alignment="Center" ID="b2b_invoice_details_item_barcode_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="1032px" Top="2px" Alignment="Center" ID="b2b_invoice_details_item_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="1144px" Top="2px" Alignment="Center" ID="b2b_invoice_details_units_qty_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="1256px" Top="2px" Alignment="Center" ID="b2b_invoice_details_item_bonus_code_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="1368px" Top="2px" Alignment="Center" ID="b2b_invoice_details_bonus_line_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="1480px" Top="2px" Alignment="Center" ID="b2b_invoice_details_bonus_description_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="426px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="1908px" Top="2px" Alignment="Center" ID="b2b_invoice_details_packages_quantity_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="111px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="2021px" Top="2px" Alignment="Center" ID="b2b_invoice_details_validity_date_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="2155px" Top="2px" Alignment="Center" ID="b2b_invoice_details_pack_quantity_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="2267px" Top="2px" Alignment="Center" ID="b2b_invoice_details_pallet_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="2379px" Top="2px" Alignment="Center" ID="b2b_invoice_move_invoice_type_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="32px" Width="100px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;B2b Invoice Details Scanned Quantity&quot;" TemplateText="&quot;B2b Invoice Details Scanned Quantity&quot;" Visible="True" Left="2481px" Top="1px" ID="b2b_invoice_details_scanned_quantity_t" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="252px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="23px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_branch_number" Visible="True" Left="2px" Top="2px" Alignment="Right" ID="b2b_invoice_details_branch_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_supplier_number" Visible="True" Left="114px" Top="2px" Alignment="Right" ID="b2b_invoice_details_supplier_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_order_number" Visible="True" Left="226px" Top="2px" Alignment="Right" ID="b2b_invoice_details_order_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_invoice_number" Visible="True" Left="338px" Top="2px" Alignment="Right" ID="b2b_invoice_details_invoice_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_serial_number" Visible="True" Left="450px" Top="2px" Alignment="Right" ID="b2b_invoice_details_serial_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_line_number" Visible="True" Left="562px" Top="2px" Alignment="Right" ID="b2b_invoice_details_line_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="b2b_invoice_details_upd_date_time" Visible="True" Left="674px" Top="2px" ID="b2b_invoice_details_upd_date_time" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_status" Visible="True" Left="808px" Top="2px" ID="b2b_invoice_details_status" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_item_barcode" Visible="True" Left="920px" Top="2px" ID="b2b_invoice_details_item_barcode" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_item_number" Visible="True" Left="1032px" Top="2px" Alignment="Right" ID="b2b_invoice_details_item_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_units_qty" Visible="True" Left="1144px" Top="2px" Alignment="Right" ID="b2b_invoice_details_units_qty" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_item_bonus_code" Visible="True" Left="1256px" Top="2px" ID="b2b_invoice_details_item_bonus_code" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_bonus_line" Visible="True" Left="1368px" Top="2px" Alignment="Right" ID="b2b_invoice_details_bonus_line" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_bonus_description" Visible="True" Left="1480px" Top="2px" ID="b2b_invoice_details_bonus_description" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="426px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_packages_quantity" Visible="True" Left="1908px" Top="2px" Alignment="Right" ID="b2b_invoice_details_packages_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="111px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="b2b_invoice_details_validity_date" Visible="True" Left="2021px" Top="2px" ID="b2b_invoice_details_validity_date" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_pack_quantity" Visible="True" Left="2155px" Top="2px" Alignment="Right" ID="b2b_invoice_details_pack_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_pallet_number" Visible="True" Left="2267px" Top="2px" Alignment="Right" ID="b2b_invoice_details_pallet_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_move_invoice_type" Visible="True" Left="2379px" Top="2px" ID="b2b_invoice_move_invoice_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="100px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_invoice_details_scanned_quantity" Visible="True" Left="2481px" Top="0px" ID="b2b_invoice_details_scanned_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="252px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

