<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.d_sql_supplier_order_detailsRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="ButtonFace">
	<Bands>
<vt:DataViewBand runat="server" Height="24px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewLabelField runat="server" Text="&quot;Serial Number&quot;" TemplateText="&quot;Serial Number&quot;" Visible="True" Left="4px" Top="4px" Alignment="Center" ID="serial_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="82px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Branch Number&quot;" TemplateText="&quot;Branch Number&quot;" Visible="True" Left="90px" Top="4px" Alignment="Center" ID="branch_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="90px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Order Number&quot;" TemplateText="&quot;Order Number&quot;" Visible="True" Left="184px" Top="4px" Alignment="Center" ID="order_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="81px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Number&quot;" TemplateText="&quot;Material Number&quot;" Visible="True" Left="269px" Top="4px" Alignment="Center" ID="material_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="95px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Price After Discount&quot;" TemplateText="&quot;Material Price After Discount&quot;" Visible="True" Left="368px" Top="4px" Alignment="Center" ID="material_price_after_discount_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="166px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Quantity Within Invoice&quot;" TemplateText="&quot;Quantity Within Invoice&quot;" Visible="True" Left="537px" Top="4px" Alignment="Center" ID="quantity_within_invoice_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="133px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Discount Amount&quot;" TemplateText="&quot;Material Discount Amount&quot;" Visible="True" Left="674px" Top="4px" Alignment="Center" ID="material_discount_amount_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="150px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Color&quot;" TemplateText="&quot;Color&quot;" Visible="True" Left="828px" Top="4px" Alignment="Center" ID="color_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Sell Price&quot;" TemplateText="&quot;Sell Price&quot;" Visible="True" Left="904px" Top="4px" Alignment="Center" ID="sell_price_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Supplier Number&quot;" TemplateText="&quot;Supplier Number&quot;" Visible="True" Left="980px" Top="4px" Alignment="Center" ID="supplier_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="96px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Price&quot;" TemplateText="&quot;Material Price&quot;" Visible="True" Left="1080px" Top="4px" Alignment="Center" ID="material_price_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="80px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Quantity&quot;" TemplateText="&quot;Material Quantity&quot;" Visible="True" Left="1164px" Top="4px" Alignment="Center" ID="material_quantity_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="99px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Stock Number&quot;" TemplateText="&quot;Stock Number&quot;" Visible="True" Left="1267px" Top="4px" Alignment="Center" ID="stock_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="83px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Details&quot;" TemplateText="&quot;Details&quot;" Visible="True" Left="1354px" Top="4px" Alignment="Center" ID="details_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="186px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Discount Percent&quot;" TemplateText="&quot;Material Discount Percent&quot;" Visible="True" Left="1544px" Top="4px" Alignment="Center" ID="material_discount_percent_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="150px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Pay Shape&quot;" TemplateText="&quot;Pay Shape&quot;" Visible="True" Left="1698px" Top="4px" Alignment="Center" ID="pay_shape_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Sort Number&quot;" TemplateText="&quot;Sort Number&quot;" Visible="True" Left="1774px" Top="4px" Alignment="Center" ID="sort_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="73px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Bonus Quantity&quot;" TemplateText="&quot;Bonus Quantity&quot;" Visible="True" Left="1851px" Top="4px" Alignment="Center" ID="bonus_quantity_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="90px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Bonus Connect&quot;" TemplateText="&quot;Material Bonus Connect&quot;" Visible="True" Left="1945px" Top="4px" Alignment="Center" ID="material_bonus_connect_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="139px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Bonus Row&quot;" TemplateText="&quot;Bonus Row&quot;" Visible="True" Left="2088px" Top="4px" Alignment="Center" ID="bonus_row_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="66px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Stock Balance&quot;" TemplateText="&quot;Stock Balance&quot;" Visible="True" Left="2158px" Top="4px" Alignment="Center" ID="stock_balance_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="85px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;This Month Sales&quot;" TemplateText="&quot;This Month Sales&quot;" Visible="True" Left="2247px" Top="4px" Alignment="Center" ID="this_month_sales_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="101px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Last Month Sales&quot;" TemplateText="&quot;Last Month Sales&quot;" Visible="True" Left="2352px" Top="4px" Alignment="Center" ID="last_month_sales_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="102px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Two Last Months Sales&quot;" TemplateText="&quot;Two Last Months Sales&quot;" Visible="True" Left="2457px" Top="4px" Alignment="Center" ID="two_last_months_sales_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="137px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Min Week Sales&quot;" TemplateText="&quot;Min Week Sales&quot;" Visible="True" Left="2597px" Top="4px" Alignment="Center" ID="min_week_sales_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="96px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Max Week Sales&quot;" TemplateText="&quot;Max Week Sales&quot;" Visible="True" Left="2697px" Top="4px" Alignment="Center" ID="max_week_sales_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="100px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Recommended Quantity&quot;" TemplateText="&quot;Recommended Quantity&quot;" Visible="True" Left="2801px" Top="4px" Alignment="Center" ID="recommended_quantity_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="140px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Confirmed Orders&quot;" TemplateText="&quot;Confirmed Orders&quot;" Visible="True" Left="2945px" Top="4px" Alignment="Center" ID="confirmed_orders_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="101px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Row In Order&quot;" TemplateText="&quot;Row In Order&quot;" Visible="True" Left="3050px" Top="4px" Alignment="Center" ID="row_in_order_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="75px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Ordered Not Received&quot;" TemplateText="&quot;Ordered Not Received&quot;" Visible="True" Left="3129px" Top="4px" Alignment="Center" ID="ordered_not_received_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="126px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Row Found&quot;" TemplateText="&quot;Row Found&quot;" Visible="True" Left="3259px" Top="4px" Alignment="Center" ID="row_found_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Avg Week Sales&quot;" TemplateText="&quot;Avg Week Sales&quot;" Visible="True" Left="3335px" Top="4px" Alignment="Center" ID="avg_week_sales_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="96px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="27px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="serial_number" Visible="True" Left="4px" Top="4px" Alignment="Right" ID="serial_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="branch_number" Visible="True" Left="90px" Top="4px" Alignment="Right" ID="branch_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="order_number" Visible="True" Left="184px" Top="4px" Alignment="Right" ID="order_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_number" Visible="True" Left="269px" Top="4px" Alignment="Right" ID="material_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_price_after_discount" Visible="True" Left="368px" Top="4px" Alignment="Right" ID="material_price_after_discount" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="71px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="quantity_within_invoice" Visible="True" Left="537px" Top="4px" Alignment="Right" ID="quantity_within_invoice" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_discount_amount" Visible="True" Left="674px" Top="4px" Alignment="Right" ID="material_discount_amount" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="color" Visible="True" Left="828px" Top="4px" Alignment="Right" ID="color" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="sell_price" Visible="True" Left="904px" Top="4px" Alignment="Right" ID="sell_price" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_number" Visible="True" Left="980px" Top="4px" Alignment="Right" ID="supplier_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_price" Visible="True" Left="1080px" Top="4px" Alignment="Right" ID="material_price" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_quantity" Visible="True" Left="1164px" Top="4px" Alignment="Right" ID="material_quantity" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="stock_number" Visible="True" Left="1267px" Top="4px" Alignment="Right" ID="stock_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="details" Visible="True" Left="1354px" Top="4px" ID="details" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_discount_percent" Visible="True" Left="1544px" Top="4px" Alignment="Right" ID="material_discount_percent" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="pay_shape" Visible="True" Left="1698px" Top="4px" Alignment="Right" ID="pay_shape" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="sort_number" Visible="True" Left="1774px" Top="4px" Alignment="Right" ID="sort_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="bonus_quantity" Visible="True" Left="1851px" Top="4px" Alignment="Right" ID="bonus_quantity" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_bonus_connect" Visible="True" Left="1945px" Top="4px" Alignment="Right" ID="material_bonus_connect" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="bonus_row" Visible="True" Left="2088px" Top="4px" ID="bonus_row" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="12px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="stock_balance" Visible="True" Left="2158px" Top="4px" Alignment="Right" ID="stock_balance" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="this_month_sales" Visible="True" Left="2247px" Top="4px" Alignment="Right" ID="this_month_sales" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="last_month_sales" Visible="True" Left="2352px" Top="4px" Alignment="Right" ID="last_month_sales" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="two_last_months_sales" Visible="True" Left="2457px" Top="4px" Alignment="Right" ID="two_last_months_sales" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="min_week_sales" Visible="True" Left="2597px" Top="4px" Alignment="Right" ID="min_week_sales" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="max_week_sales" Visible="True" Left="2697px" Top="4px" Alignment="Right" ID="max_week_sales" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="recommended_quantity" Visible="True" Left="2801px" Top="4px" Alignment="Right" ID="recommended_quantity" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="confirmed_orders" Visible="True" Left="2945px" Top="4px" Alignment="Right" ID="confirmed_orders" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="row_in_order" Visible="True" Left="3050px" Top="4px" Alignment="Right" ID="row_in_order" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="ordered_not_received" Visible="True" Left="3129px" Top="4px" ID="ordered_not_received" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="12px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="row_found" Visible="True" Left="3259px" Top="4px" Alignment="Right" ID="row_found" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="avg_week_sales" Visible="True" Left="3335px" Top="4px" Alignment="Right" ID="avg_week_sales" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

