<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.d_sql_supplier_order_moveRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="ButtonFace">
	<Bands>
<vt:DataViewBand runat="server" Height="24px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewLabelField runat="server" Text="&quot;Order Number&quot;" TemplateText="&quot;Order Number&quot;" Visible="True" Left="4px" Top="4px" Alignment="Center" ID="order_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="81px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Branch Number&quot;" TemplateText="&quot;Branch Number&quot;" Visible="True" Left="89px" Top="4px" Alignment="Center" ID="branch_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="90px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Supplier Number&quot;" TemplateText="&quot;Supplier Number&quot;" Visible="True" Left="183px" Top="4px" Alignment="Center" ID="supplier_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="96px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Employee Number&quot;" TemplateText="&quot;Employee Number&quot;" Visible="True" Left="283px" Top="4px" Alignment="Center" ID="employee_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="107px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Supply Date&quot;" TemplateText="&quot;Supply Date&quot;" Visible="True" Left="394px" Top="4px" Alignment="Center" ID="supply_date_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="131px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Date Move&quot;" TemplateText="&quot;Date Move&quot;" Visible="True" Left="529px" Top="4px" Alignment="Center" ID="date_move_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Station Num&quot;" TemplateText="&quot;Station Num&quot;" Visible="True" Left="665px" Top="4px" Alignment="Center" ID="station_num_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Store Number&quot;" TemplateText="&quot;Store Number&quot;" Visible="True" Left="741px" Top="4px" Alignment="Center" ID="store_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="80px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Stock Number&quot;" TemplateText="&quot;Stock Number&quot;" Visible="True" Left="825px" Top="4px" Alignment="Center" ID="stock_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="83px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;State&quot;" TemplateText="&quot;State&quot;" Visible="True" Left="912px" Top="4px" Alignment="Center" ID="state_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="31px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Expected Total Amount&quot;" TemplateText="&quot;Expected Total Amount&quot;" Visible="True" Left="947px" Top="4px" Alignment="Center" ID="expected_total_amount_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="136px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Discount&quot;" TemplateText="&quot;Discount&quot;" Visible="True" Left="1087px" Top="4px" Alignment="Center" ID="discount_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Discount Percent&quot;" TemplateText="&quot;Discount Percent&quot;" Visible="True" Left="1163px" Top="4px" Alignment="Center" ID="discount_percent_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="100px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Mam&quot;" TemplateText="&quot;Mam&quot;" Visible="True" Left="1267px" Top="4px" Alignment="Center" ID="mam_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Order Total&quot;" TemplateText="&quot;Order Total&quot;" Visible="True" Left="1343px" Top="4px" Alignment="Center" ID="order_total_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Web Number&quot;" TemplateText="&quot;Web Number&quot;" Visible="True" Left="1419px" Top="4px" Alignment="Center" ID="web_number_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="76px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Last Month Period&quot;" TemplateText="&quot;Last Month Period&quot;" Visible="True" Left="1498px" Top="4px" Alignment="Center" ID="last_month_period_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="107px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Last Month Time Back&quot;" TemplateText="&quot;Last Month Time Back&quot;" Visible="True" Left="1608px" Top="4px" Alignment="Center" ID="last_month_time_back_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Two Months Period&quot;" TemplateText="&quot;Two Months Period&quot;" Visible="True" Left="1743px" Top="4px" Alignment="Center" ID="two_months_period_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="111px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Two Months Time Back&quot;" TemplateText="&quot;Two Months Time Back&quot;" Visible="True" Left="1858px" Top="4px" Alignment="Center" ID="two_months_time_back_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="136px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Time Period Of Sales&quot;" TemplateText="&quot;Time Period Of Sales&quot;" Visible="True" Left="1998px" Top="4px" Alignment="Center" ID="time_period_of_sales_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="123px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Order Type&quot;" TemplateText="&quot;Order Type&quot;" Visible="True" Left="2125px" Top="4px" Alignment="Center" ID="order_type_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Calc Avg Period&quot;" TemplateText="&quot;Calc Avg Period&quot;" Visible="True" Left="2201px" Top="4px" Alignment="Center" ID="calc_avg_period_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="92px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Cancel Datetime&quot;" TemplateText="&quot;Cancel Datetime&quot;" Visible="True" Left="2297px" Top="4px" Alignment="Center" ID="cancel_datetime_t" Font-Names="Arial" Font-Size="10pt" ForeColor="#FFFFFF" Height="16px" Width="96px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="27px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="order_number" Visible="True" Left="4px" Top="4px" Alignment="Right" ID="order_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="branch_number" Visible="True" Left="89px" Top="4px" Alignment="Right" ID="branch_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_number" Visible="True" Left="183px" Top="4px" Alignment="Right" ID="supplier_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="employee_number" Visible="True" Left="283px" Top="4px" Alignment="Right" ID="employee_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="supply_date" Visible="True" Left="394px" Top="4px" ID="supply_date" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="131px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="date_move" Visible="True" Left="529px" Top="4px" ID="date_move" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="station_num" Visible="True" Left="665px" Top="4px" Alignment="Right" ID="station_num" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="store_number" Visible="True" Left="741px" Top="4px" Alignment="Right" ID="store_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="stock_number" Visible="True" Left="825px" Top="4px" Alignment="Right" ID="stock_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="state" Visible="True" Left="912px" Top="4px" ID="state" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="12px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="expected_total_amount" Visible="True" Left="947px" Top="4px" Alignment="Right" ID="expected_total_amount" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="discount" Visible="True" Left="1087px" Top="4px" Alignment="Right" ID="discount" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="discount_percent" Visible="True" Left="1163px" Top="4px" Alignment="Right" ID="discount_percent" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="mam" Visible="True" Left="1267px" Top="4px" Alignment="Right" ID="mam" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="order_total" Visible="True" Left="1343px" Top="4px" Alignment="Right" ID="order_total" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="web_number" Visible="True" Left="1419px" Top="4px" Alignment="Right" ID="web_number" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="last_month_period" Visible="True" Left="1498px" Top="4px" Alignment="Right" ID="last_month_period" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="last_month_time_back" Visible="True" Left="1608px" Top="4px" Alignment="Right" ID="last_month_time_back" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="two_months_period" Visible="True" Left="1743px" Top="4px" Alignment="Right" ID="two_months_period" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="two_months_time_back" Visible="True" Left="1858px" Top="4px" Alignment="Right" ID="two_months_time_back" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="time_period_of_sales" Visible="True" Left="1998px" Top="4px" Alignment="Right" ID="time_period_of_sales" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="order_type" Visible="True" Left="2125px" Top="4px" Alignment="Right" ID="order_type" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="calc_avg_period" Visible="True" Left="2201px" Top="4px" Alignment="Right" ID="calc_avg_period" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="cancel_datetime" Visible="True" Left="2297px" Top="4px" ID="cancel_datetime" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="84px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="payment_code_number" Visible="True" Left="2393px" Top="0px" ID="payment_code_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="30px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="payments_number" Visible="True" Left="2423px" Top="0px" ID="payments_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="30px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

