<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.d_tc_campaign_definiteRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="#D4D0C8">
	<Bands>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="414px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewGroupBoxField runat="server" Visible="True" Left="6px" Top="159px" ID="gb_2" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" Height="253px" Width="744px"></vt:DataViewGroupBoxField>
<vt:DataViewGroupBoxField runat="server" Visible="True" Left="13px" Top="215px" ID="gb_3" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" Height="190px" Width="730px"></vt:DataViewGroupBoxField>
<vt:DataViewGroupBoxField runat="server" Visible="True" Left="9px" Top="1px" ID="gb_1" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" Height="159px" Width="744px"></vt:DataViewGroupBoxField>
<vt:DataViewRadioField runat="server" Visible="True" Left="639px" Top="94px" Alignment="Right" ID="campaign_property" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="61px" Width="107px"></vt:DataViewRadioField>
<vt:DataViewCheckField runat="server" Visible="True" Left="408px" Top="203px" ID="daily_calc" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="13px" Width="10px"></vt:DataViewCheckField>
<vt:DataViewLabelField runat="server" Text="&quot;שעה סיום&quot;" TemplateText="&quot;שעה סיום&quot;" Visible="True" Left="62px" Top="175px" Alignment="Right" ID="t_7" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="57px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" Format="[shortdate]" DataMember="start_datetime" Visible="True" Left="412px" Top="175px" Alignment="Center" ID="start_datetime" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="66px"></vt:DataViewTextField>
<vt:DataViewCheckField runat="server" Visible="True" Left="591px" Top="179px" ID="more_year" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="13px" Width="10px"></vt:DataViewCheckField>
<vt:DataViewTextField runat="server" Format="[shortdate]" DataMember="end_datetime" Visible="True" Left="124px" Top="175px" Alignment="Center" ID="end_datetime" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="66px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;מועד סיום&quot;" TemplateText="&quot;מועד סיום&quot;" Visible="True" Left="194px" Top="175px" Alignment="Right" ID="t_6" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="59px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" Format="[time]" DataMember="compute_start" Visible="True" Left="284px" Top="175px" Alignment="Center" ID="compute_start" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="43px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;שעה התחלה&quot;" TemplateText="&quot;שעה התחלה&quot;" Visible="True" Left="332px" Top="175px" Alignment="Right" ID="t_5" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="75px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;מועד התחלה&quot;" TemplateText="&quot;מועד התחלה&quot;" Visible="True" Left="483px" Top="175px" Alignment="Right" ID="t_2" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="76px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;...&quot;" TemplateText="&quot;...&quot;" Visible="True" Left="562px" Top="175px" Alignment="Center" ID="cals" Font-Names="Arial" Font-Size="11pt" ForeColor="#000080" Height="18px" Width="18px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;...&quot;" TemplateText="&quot;...&quot;" Visible="True" Left="256px" Top="175px" Alignment="Center" ID="cale" Font-Names="Arial" Font-Size="11pt" ForeColor="#000080" Height="18px" Width="18px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot; פעיל יותר משנה&quot;" TemplateText="&quot; פעיל יותר משנה&quot;" Visible="True" Left="606px" Top="177px" Alignment="Right" ID="t_3" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="137px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" Format="[time]" DataMember="compute_end" Visible="True" Left="14px" Top="175px" Alignment="Center" ID="compute_end" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="43px"></vt:DataViewTextField>
<vt:DataViewCheckField runat="server" Visible="True" Left="622px" Top="257px" Alignment="Right" ID="all_days" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="110px"></vt:DataViewCheckField>
<vt:DataViewCheckField runat="server" Visible="True" Left="622px" Top="294px" ID="without_days" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="110px"></vt:DataViewCheckField>
<vt:DataViewTextField runat="server" DataMember="clubs" Left="811px" Top="29px" ID="clubs" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="115px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="stars" Left="808px" Top="59px" ID="stars" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="149px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;התנאי סחר תקף כל יום רק בין שעת התחלה ושעת סיום&quot;" TemplateText="&quot;התנאי סחר תקף כל יום רק בין שעת התחלה ושעת סיום&quot;" Visible="True" Left="424px" Top="200px" Alignment="Right" ID="t_8" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="319px"></vt:DataViewLabelField>
<vt:DataViewCheckField runat="server" Visible="True" Left="333px" Top="200px" ID="campaign_period" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="70px"></vt:DataViewCheckField>
<vt:DataViewTextField runat="server" DataMember="campaign_name" Visible="True" Left="156px" Top="20px" ID="campaign_name" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="391px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="campaign_description" Visible="True" Left="154px" Top="45px" Alignment="Right" ID="campaign_description" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="43px" Width="544px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;שם &quot;" TemplateText="&quot;שם &quot;" Visible="True" Left="553px" Top="21px" ID="campaign_name_t" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="26px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="serial_number" Visible="True" Left="590px" Top="19px" Alignment="Right" ID="serial_number" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="107px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;מספר &quot;" TemplateText="&quot;מספר &quot;" Visible="True" Left="708px" Top="21px" Alignment="Right" ID="serial_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="39px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;תאור&quot;" TemplateText="&quot;תאור&quot;" Visible="True" Left="708px" Top="46px" Alignment="Right" ID="campaign_description_t" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="39px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;סניפים&quot;" TemplateText="&quot;סניפים&quot;" Visible="True" Left="583px" Top="100px" Alignment="Right" ID="t_1" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="38px"></vt:DataViewLabelField>
<vt:DataViewComboField runat="server" Visible="True" Left="457px" Top="100px" ID="compute_branch" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="122px"></vt:DataViewComboField>
<vt:DataViewLabelField runat="server" Text="&quot;רשימת סניפים&quot;" TemplateText="&quot;רשימת סניפים&quot;" Visible="True" Left="370px" Top="100px" Alignment="Center" ID="pict_branch" Font-Names="Arial" Font-Size="11pt" Height="17px" Width="83px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;ניתן להקפאה ע&quot;י הסניפים&quot;" TemplateText="&quot;ניתן להקפאה ע&quot;י הסניפים&quot;" Visible="True" Left="476px" Top="132px" Alignment="Right" ID="t_10" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="145px"></vt:DataViewLabelField>
<vt:DataViewCheckField runat="server" Visible="True" Left="462px" Top="135px" ID="allow_cancel_from_branch" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="13px" Width="10px"></vt:DataViewCheckField>
<vt:DataViewLabelField runat="server" Text="&quot;סטטוס תנאי סחר&quot;" TemplateText="&quot;סטטוס תנאי סחר&quot;" Visible="True" Left="340px" Top="132px" ID="t_4" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="99px"></vt:DataViewLabelField>
<vt:DataViewComboField runat="server" Visible="True" Left="253px" Top="132px" ID="status_flag" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="83px"></vt:DataViewComboField>
<vt:DataViewLabelField runat="server" Text="&quot;סוג תנאי סחר&quot;" TemplateText="&quot;סוג תנאי סחר&quot;" Visible="True" Left="145px" Top="132px" ID="t_11" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="78px"></vt:DataViewLabelField>
<vt:DataViewDropDownField runat="server" Visible="True" Left="14px" Top="131px" Alignment="Right" ID="campaign_type" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="127px"></vt:DataViewDropDownField>
<vt:DataViewTextField runat="server" DataMember="adhoc_serial_number" Visible="True" Left="808px" Top="91px" ID="adhoc_serial_number" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="111px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;Ad Hoc&quot;" TemplateText="&quot;Ad Hoc&quot;" Left="28px" Top="24px" Alignment="Center" ID="ad_hoc_t" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="111px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="adhoc_key" Left="28px" Top="52px" ID="adhoc_key" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="18px" Width="111px"></vt:DataViewTextField>
<vt:DataViewGroupBoxField runat="server" Visible="True" Left="16px" Top="16px" ID="gb_4" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" Height="70px" Width="130px"></vt:DataViewGroupBoxField>
<vt:DataViewCheckField runat="server" Visible="True" Left="245px" Top="104px" ID="automatic_campaign" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="13px" Width="13px"></vt:DataViewCheckField>
<vt:DataViewLabelField runat="server" Text="&quot;הפעלה אוטומטית&quot;" TemplateText="&quot;הפעלה אוטומטית&quot;" Visible="True" Left="261px" Top="102px" ID="t_9" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="17px" Width="104px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" Format="99" DataMember="campaign_grade" Visible="True" Left="14px" Top="100px" Alignment="Right" ID="campaign_grade" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="67px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;ציון&quot;" TemplateText="&quot;ציון&quot;" Visible="True" Left="85px" Top="100px" ID="campaign_grade_t" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="27px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;: ציון מומלץ&quot;" TemplateText="&quot;: ציון מומלץ&quot;" Visible="True" Left="173px" Top="101px" ID="recomended_grade_t" BorderStyle="None" Font-Names="Arial" Font-Size="11pt" ForeColor="#000000" Height="19px" Width="63px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;&quot;" TemplateText="&quot;&quot;" Visible="True" Left="128px" Top="102px" ID="recomended_grade" Font-Names="Arial" Font-Size="11pt" ForeColor="#000080" Height="18px" Width="41px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

