<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.dwh_return_details2Repository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="#D4D0C8">
	<Bands>
<vt:DataViewBand runat="server" Height="37px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="55px" Top="2px" Alignment="Center" ID="introduction_campaign_t" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="38px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="252px" Top="2px" Alignment="Center" ID="t_14" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="68px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="382px" Top="2px" Alignment="Center" ID="t_10" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="48px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;פרטים&quot;" TemplateText="&quot;פרטים&quot;" Visible="True" Left="434px" Top="2px" Alignment="Center" ID="t_8" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="127px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="324px" Top="2px" Alignment="Center" ID="t_7" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="54px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="565px" Top="2px" Alignment="Center" ID="t_15" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="42px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="611px" Top="2px" Alignment="Center" ID="t_11" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="64px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;GP&quot;" TemplateText="&quot;GP&quot;" Visible="True" Left="751px" Top="2px" Alignment="Center" ID="t_4" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="50px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;סה&quot;כ &quot;" TemplateText="&quot;סה&quot;כ &quot;" Visible="True" Left="679px" Top="2px" Alignment="Center" ID="material_value_t" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="68px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="805px" Top="2px" Alignment="Center" ID="t_9" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="63px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="939px" Top="2px" Alignment="Center" ID="material_new_price_t" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="63px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="872px" Top="2px" Alignment="Center" ID="t_12" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="63px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="1006px" Top="2px" Alignment="Center" ID="material_discount_percent_t" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="34px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="1044px" Top="2px" Alignment="Center" ID="supplier_discount_percent_t" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="34px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="1044px" Top="2px" Alignment="Center" ID="material_price_t" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="63px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="1182px" Top="3px" ID="compute_vat_mode" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="30px" Width="9px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;בונוס&quot;" TemplateText="&quot;בונוס&quot;" Visible="True" Left="1111px" Top="2px" Alignment="Center" ID="bonus_quantity_t" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="47px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Left="139px" Top="2px" Alignment="Center" ID="t_5" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="37px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="180px" Top="2px" Alignment="Center" ID="t_13" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="68px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Left="97px" Top="2px" Alignment="Center" ID="t_16" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="38px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;כמות&quot;" TemplateText="&quot;כמות&quot;" Visible="True" Left="1162px" Top="2px" Alignment="Center" ID="material_quantity_t" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="47px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Left="4px" Top="2px" Alignment="Center" ID="mt_qty_t17" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="47px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;סיבת החזרה&quot;" TemplateText="&quot;סיבת החזרה&quot;" Visible="True" Left="1108px" Top="2px" Alignment="Center" ID="decline_number_t" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="30px" Width="98px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="1px" ForeColor="#000000" Type="Footer" ID="footer"><Fields>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="99px" Top="6px" ID="total_with_vat" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="15px" Width="113px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;סה&quot;כ&quot;" TemplateText="&quot;סה&quot;כ&quot;" Visible="True" Left="216px" Top="6px" ID="t_3" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="67px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="290px" Top="6px" ID="total_vat" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="15px" Width="113px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" Format="0%" DataMember="invoice_move_mam" Left="407px" Top="6px" Alignment="Right" ID="invoice_move_mam" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="15px" Width="31px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;מע&quot;מ&quot;" TemplateText="&quot;מע&quot;מ&quot;" Visible="True" Left="440px" Top="6px" ID="t_1" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="68px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="518px" Top="6px" ID="discount_total_cf" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="113px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;הנחה&quot;" TemplateText="&quot;הנחה&quot;" Left="635px" Top="6px" ID="t_2" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="68px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="715px" Top="6px" ID="invoice_total_cf" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="113px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;סה&quot;כ ללא מע&quot;מ&quot;" TemplateText="&quot;סה&quot;כ ללא מע&quot;מ&quot;" Visible="True" Left="831px" Top="6px" ID="t_6" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="107px"></vt:DataViewLabelField>
<vt:DataViewShapeField runat="server" Type="Rectangle" Visible="True" Left="135px" Top="1px" ID="r_1" BorderStyle="None" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="28px" Width="853px"></vt:DataViewShapeField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="20px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="carton_barcode" Left="1114px" Top="1px" ID="carton_barcode" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="15px" Width="101px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[General]" DataMember="max_quantity" Left="932px" Top="70px" Alignment="Right" ID="max_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="16px" Width="50px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_number" Left="935px" Top="54px" Alignment="Right" ID="supplier_number" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="53px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[General]" DataMember="packing_list_number" Left="939px" Top="90px" Alignment="Right" ID="packing_list_number" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="12px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[General]" DataMember="vat_number" Left="933px" Top="90px" ID="vat_number" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="3px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="939px" Top="1px" ID="material_new_price1" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="63px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="material_new_price" Visible="True" Left="939px" Top="1px" Alignment="Right" ID="material_new_price" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="63px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="bonus_discount" Left="690px" Top="0px" ID="bonus_discount" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="9px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="material_suppliers_move_datetime" Left="692px" Top="2px" Alignment="Right" ID="material_suppliers_move_datetime" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="15px" Width="12px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_suppliers_price_before_discount" Visible="True" Left="252px" Top="1px" Alignment="Right" ID="material_suppliers_price_before_discount" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="68px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="details" Visible="True" Left="434px" Top="1px" Alignment="Right" ID="details" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="127px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_bonus_connect" Visible="True" Left="565px" Top="1px" Alignment="Right" ID="material_bonus_connect" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="42px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_suppliers_branch_number" Left="677px" Top="1px" Alignment="Right" ID="material_suppliers_branch_number" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="15px" Width="20px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_suppliers_supplier_number" Left="692px" Top="0px" Alignment="Right" ID="material_suppliers_supplier_number" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="13px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="#,##0.0000" DataMember="material_discount_amount" Left="699px" Top="0px" Alignment="Right" ID="material_discount_amount" Font-Names="Arial" Font-Size="9pt" Height="17px" Width="6px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="stock_number" Left="697px" Top="1px" Alignment="Right" ID="stock_number" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="17px" Width="4px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="694px" Top="0px" ID="compute_1" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="17px" Width="7px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="material_name" Left="738px" Top="0px" Alignment="Right" ID="material_name" Font-Names="Arial" Font-Size="9pt" Height="17px" Width="6px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_suppliers_global_discount" Left="763px" Top="0px" ID="material_suppliers_global_discount" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="13px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="import_type" Left="837px" Top="1px" Alignment="Right" ID="import_type" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="14px" Width="8px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_suppliers_material_number" Left="827px" Top="1px" Alignment="Right" ID="material_suppliers_material_number" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="15px" Width="15px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[General]" DataMember="packing_serial" Left="838px" Top="0px" Alignment="Right" ID="packing_serial" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="15px" Width="4px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_suppliers_material_discount" Left="824px" Top="0px" ID="material_suppliers_material_discount" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="20px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="751px" Top="1px" ID="compute_gp" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="50px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="gp" Visible="True" Left="751px" Top="1px" Alignment="Right" ID="gp" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="50px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="751px" Top="1px" ID="compute_gp_1" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="50px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="bonus_row" Left="846px" Top="0px" ID="bonus_row" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="17px" Width="15px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_number" Left="853px" Top="0px" Alignment="Right" ID="material_number" Font-Names="Arial" Font-Size="9pt" Height="17px" Width="5px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="barcode" Left="855px" Top="0px" Alignment="Right" ID="barcode" Font-Names="Arial" Font-Size="9pt" Height="17px" Width="4px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="679px" Top="1px" ID="material_value" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="68px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="805px" Top="1px" ID="campaign_price" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="63px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="sell_price" Visible="True" Left="872px" Top="1px" Alignment="Right" ID="sell_price" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="63px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_discount_percent" Visible="True" Left="1006px" Top="1px" Alignment="Right" ID="material_discount_percent" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="34px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_discount_percent" Visible="True" Left="1044px" Top="1px" Alignment="Right" ID="supplier_discount_percent" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="34px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[General]" DataMember="indicator" Left="1061px" Top="1px" ID="indicator" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="16px" Width="25px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_price" Visible="True" Left="1044px" Top="1px" Alignment="Right" ID="material_price" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="63px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="###,##0" DataMember="bonus_quantity" Visible="True" Left="1110px" Top="1px" Alignment="Right" ID="bonus_quantity" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="47px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_suppliers_price_after_discount" Visible="True" Left="180px" Top="1px" Alignment="Right" ID="material_suppliers_price_after_discount" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="68px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="#" DataMember="b_flag" Left="109px" Top="1px" ID="b_flag" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#000000" Height="15px" Width="21px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="###,##0.00" DataMember="material_quantity" Visible="True" Left="1162px" Top="1px" Alignment="Right" ID="material_quantity" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="47px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="vat_percentage" Left="139px" Top="1px" Alignment="Right" ID="vat_percentage" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="37px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="###,##0.00" DataMember="expected_material_quantity" Left="5px" Top="1px" Alignment="Right" ID="expected_material_quantity" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="46px"></vt:DataViewTextField>
<vt:DataViewDropDownField runat="server" Visible="True" Left="1108px" Top="1px" Alignment="Right" ID="decline_number" Font-Names="Arial" Font-Size="9pt" Height="16px" Width="98px"></vt:DataViewDropDownField>
<vt:DataViewTextField runat="server" DataMember="caterials_material_property" Visible="True" Left="1215px" Top="0px" ID="caterials_material_property" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="15px" Width="5px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="caterial_suppliers_price_after_discount" Visible="True" Left="1220px" Top="0px" ID="caterial_suppliers_price_after_discount" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="15px" Width="398px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="cnvoice_details_bonus_row" Visible="True" Left="1618px" Top="0px" ID="cnvoice_details_bonus_row" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="15px" Width="398px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="cnvoice_details_bonus_row_1" Visible="True" Left="2016px" Top="0px" ID="cnvoice_details_bonus_row_1" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="15px" Width="5px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="c_flag" Visible="True" Left="2021px" Top="0px" ID="c_flag" BorderStyle="None" Font-Names="Arial" Font-Size="9pt" ForeColor="#FFFFFF" Height="15px" Width="398px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

