<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.dwh_invoice_print2_oldRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="#FFFFFF">
	<Bands>
<vt:DataViewBand runat="server" Height="266px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewShapeField runat="server" Type="Rectangle" Visible="True" Left="0px" Top="235px" ID="r_1" BorderStyle="None" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="31px" Width="1031px"></vt:DataViewShapeField>
<vt:DataViewTextField runat="server" DataMember="phone_number" Visible="True" Left="545px" Top="33px" Alignment="Right" ID="phone_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="98px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;טלפון&quot;" TemplateText="&quot;טלפון&quot;" Visible="True" Left="650px" Top="33px" Alignment="Right" ID="t_37" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="89px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="fax_number" Visible="True" Left="546px" Top="55px" Alignment="Right" ID="fax_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="98px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;פקס&quot;" TemplateText="&quot;פקס&quot;" Visible="True" Left="650px" Top="55px" Alignment="Right" ID="t_38" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="89px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;הנחה&quot;" TemplateText="&quot;הנחה&quot;" Visible="True" Left="381px" Top="138px" Alignment="Right" ID="t_22" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="123px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="381px" Top="114px" Alignment="Right" ID="t_29" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="123px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;%&quot;" TemplateText="&quot;%&quot;" Visible="True" Left="356px" Top="139px" Alignment="Right" ID="t_13" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="18px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;סטטוס&quot;" TemplateText="&quot;סטטוס&quot;" Visible="True" Left="158px" Top="115px" Alignment="Right" ID="t_27" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="57px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="invoice_move_discount" Left="158px" Top="139px" Alignment="Right" ID="invoice_move_discount" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="57px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="discount_percent" Visible="True" Left="220px" Top="139px" Alignment="Right" ID="discount_percent" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="supply_date" Visible="True" Left="220px" Top="115px" Alignment="Right" ID="supply_date" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="155px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="42px" Top="115px" ID="state" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="113px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="logo" Left="3px" Top="2px" ID="logo" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="76px" Width="457px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="0px" Top="237px" Alignment="Center" ID="introduction_campaign_t" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="28px" Width="36px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;מבצע&quot;" TemplateText="&quot;מבצע&quot;" Visible="True" Left="38px" Top="244px" Alignment="Center" ID="t_28" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="84px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;GP&quot;" TemplateText="&quot;GP&quot;" Visible="True" Left="124px" Top="244px" Alignment="Center" ID="t_25" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="41px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;&#39;מח&quot;" TemplateText="&quot;&#39;מח&quot;" Visible="True" Left="745px" Top="244px" Alignment="Center" ID="t_26" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="34px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="636px" Top="237px" Alignment="Center" ID="comp_new_price_t" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="26px" Width="52px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="690px" Top="237px" Alignment="Center" ID="t_15" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="26px" Width="52px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="498px" Top="237px" Alignment="Center" ID="t_24" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="26px" Width="33px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;כמות&quot;" TemplateText="&quot;כמות&quot;" Visible="True" Left="581px" Top="244px" Alignment="Center" ID="t_4" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="51px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;בונוס&quot;" TemplateText="&quot;בונוס&quot;" Visible="True" Left="534px" Top="244px" Alignment="Center" ID="t_16" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="44px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;עלות ברוטו&quot;" TemplateText="&quot;עלות ברוטו&quot;" Visible="True" Left="435px" Top="244px" Alignment="Center" ID="t_3" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="60px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="167px" Top="237px" Alignment="Center" ID="t_7" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="26px" Width="57px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;עלות נטו&quot;" TemplateText="&quot;עלות נטו&quot;" Visible="True" Left="227px" Top="244px" Alignment="Center" ID="t_6" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="58px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="289px" Top="237px" Alignment="Center" ID="t_5" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="26px" Width="40px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="333px" Top="237px" Alignment="Center" ID="t_41" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="26px" Width="39px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="375px" Top="237px" Alignment="Center" ID="t_42" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="26px" Width="57px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;תאור פריט&quot;" TemplateText="&quot;תאור פריט&quot;" Visible="True" Left="782px" Top="244px" Alignment="Center" ID="t_2" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="113px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;קוד פריט&quot;" TemplateText="&quot;קוד פריט&quot;" Visible="True" Left="933px" Top="244px" Alignment="Center" ID="t_1" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="80px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;&#39;מס&quot;" TemplateText="&quot;&#39;מס&quot;" Visible="True" Left="1015px" Top="244px" Alignment="Center" ID="t_17" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="14px"></vt:DataViewLabelField>
<vt:DataViewShapeField runat="server" Type="Line" Visible="True" Left="0px" Top="81px" ID="l_5" BorderStyle="None" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Width="1031px"></vt:DataViewShapeField>
<vt:DataViewTextField runat="server" DataMember="branch_name" Visible="True" Left="741px" Top="6px" Alignment="Right" ID="branch_name" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="280px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;עוסק מורשה&quot;" TemplateText="&quot;עוסק מורשה&quot;" Visible="True" Left="870px" Top="33px" Alignment="Right" ID="t_36" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="151px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="vat_number" Visible="True" Left="754px" Top="33px" Alignment="Right" ID="vat_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="110px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="877px" Top="86px" Alignment="Right" ID="t_19" BorderStyle="None" Font-Names="Arial" Font-Size="14pt" ForeColor="#000000" Height="23px" Width="151px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="log_book" Visible="True" Left="762px" Top="163px" Alignment="Right" ID="log_book" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="date_move" Visible="True" Left="762px" Top="187px" Alignment="Right" ID="date_move" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="order_number" Visible="True" Left="762px" Top="211px" Alignment="Right" ID="order_number" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_number" Visible="True" Left="797px" Top="139px" Alignment="Right" ID="supplier_number" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="74px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_name" Visible="True" Left="516px" Top="139px" Alignment="Right" ID="supplier_name" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="275px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="invoice_number" Visible="True" Left="762px" Top="115px" Alignment="Right" ID="invoice_number" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="110px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;רשום לוג&quot;" TemplateText="&quot;רשום לוג&quot;" Visible="True" Left="878px" Top="163px" Alignment="Right" ID="t_20" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="151px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;הוקלדה בתאריך&quot;" TemplateText="&quot;הוקלדה בתאריך&quot;" Visible="True" Left="878px" Top="187px" Alignment="Right" ID="t_21" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="151px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;הזמנה מספר&quot;" TemplateText="&quot;הזמנה מספר&quot;" Visible="True" Left="878px" Top="211px" Alignment="Right" ID="t_30" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="151px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;ספק&quot;" TemplateText="&quot;ספק&quot;" Visible="True" Left="878px" Top="139px" Alignment="Right" ID="t_9" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="151px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Visible="True" Left="886px" Top="115px" Alignment="Right" ID="t_8" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="143px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="" TemplateText="" Left="381px" Top="89px" Alignment="Right" ID="t_31" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="123px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;XXX&quot;" TemplateText="&quot;XXX&quot;" Left="220px" Top="89px" Alignment="Right" ID="t_32" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="154px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;נתקבל ע&quot;י&quot;" TemplateText="&quot;נתקבל ע&quot;י&quot;" Visible="True" Left="381px" Top="163px" Alignment="Right" ID="t_10" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="123px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;תאריך הזמנה&quot;" TemplateText="&quot;תאריך הזמנה&quot;" Visible="True" Left="381px" Top="187px" Alignment="Right" ID="t_23" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="123px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="employee_number" Visible="True" Left="304px" Top="163px" Alignment="Right" ID="employee_number" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="71px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="order_date" Visible="True" Left="258px" Top="187px" Alignment="Right" ID="order_date" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="117px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;מפיץ&quot;" TemplateText="&quot;מפיץ&quot;" Left="381px" Top="211px" Alignment="Right" ID="distributor_t" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="123px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="invoice_move_distributor_number" Visible="True" Left="304px" Top="211px" Alignment="Right" ID="invoice_move_distributor_number" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="71px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="employee_name" Visible="True" Left="158px" Top="163px" Alignment="Right" ID="employee_name" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="140px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="distributor_name" Visible="True" Left="114px" Top="211px" Alignment="Right" ID="distributor_name" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="19px" Width="184px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="119px" ForeColor="#000000" Type="Summary" ID="summary"><Fields>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="188px" Top="6px" ID="compute_3" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="57px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="602px" Top="7px" ID="total_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="51px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="555px" Top="7px" ID="compute_2" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="44px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="396px" Top="6px" ID="compute_7" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="57px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="730px" Top="88px" ID="total_cf" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="21px" Top="33px" ID="invoice_total_cf" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="87px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="mam" Left="656px" Top="32px" Alignment="Right" ID="mam" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="19px" Width="40px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="744px" Top="73px" ID="compute_vat" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="754px" Top="39px" ID="mam_total_cf" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="756px" Top="57px" ID="compute_total" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="110px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="707px" Top="36px" ID="compute_4" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="47px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="21px" Top="60px" ID="total_vat" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="87px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="21px" Top="87px" ID="compute_5" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="87px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;סה&quot;כ לתשלום&quot;" TemplateText="&quot;סה&quot;כ לתשלום&quot;" Visible="True" Left="114px" Top="33px" Alignment="Right" ID="t_12" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="91px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;כולל מע&quot;מ&quot;" TemplateText="&quot;כולל מע&quot;מ&quot;" Visible="True" Left="114px" Top="87px" Alignment="Right" ID="t_14" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="91px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;מע&quot;מ&quot;" TemplateText="&quot;מע&quot;מ&quot;" Visible="True" Left="114px" Top="60px" Alignment="Right" ID="t_11" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="91px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;הפרש&quot;" TemplateText="&quot;הפרש&quot;" Left="321px" Top="60px" Alignment="Right" ID="t_40" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="91px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="228px" Top="60px" ID="compute_1" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="87px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;סה&quot;כ חשבונית&quot;" TemplateText="&quot;סה&quot;כ חשבונית&quot;" Visible="True" Left="321px" Top="33px" Alignment="Right" ID="t_39" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="91px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="expected_total_amount" Visible="True" Left="228px" Top="33px" Alignment="Right" ID="expected_total_amount" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="87px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" Text="&quot;סה&quot;כ הנחות&quot;" TemplateText="&quot;סה&quot;כ הנחות&quot;" Left="525px" Top="33px" Alignment="Right" ID="t_18" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="91px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="429px" Top="33px" ID="compute_8" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="#000000" Height="16px" Width="87px"></vt:DataViewLabelField>
<vt:DataViewShapeField runat="server" Type="Line" Visible="True" Left="0px" Top="2px" ID="l_3" BorderStyle="None" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Width="1031px"></vt:DataViewShapeField>
<vt:DataViewShapeField runat="server" Type="Line" Visible="True" Left="0px" Top="118px" ID="l_4" BorderStyle="None" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Width="1031px"></vt:DataViewShapeField>
<vt:DataViewShapeField runat="server" Type="Line" Visible="True" Left="0px" Top="27px" ID="l_2" BorderStyle="None" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Width="1031px"></vt:DataViewShapeField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="18px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="compute_0013" Left="1016px" Top="3px" ID="compute_0013" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="12px" Width="58px"></vt:DataViewTextField>
<vt:DataViewCheckField runat="server" Visible="True" Left="7px" Top="1px" ID="introduction_campaign" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="15px" Width="15px"></vt:DataViewCheckField>
<vt:DataViewTextField runat="server" DataMember="campaign_name" Left="38px" Top="1px" Alignment="Right" ID="campaign_name" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="84px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="124px" Top="1px" ID="compute_gp_1" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="41px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="124px" Top="1px" ID="compute_gp" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="41px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="783px" Top="1px" ID="materials_name_1" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="104px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="campaign_new_price" Left="636px" Top="1px" ID="campaign_new_price" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="52px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="bonus_discount" Left="788px" Top="1px" ID="bonus_discount" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="29px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="167px" Top="1px" ID="material_value" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="57px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="flag_color_1" Left="789px" Top="1px" ID="flag_color_1" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="35px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="flag_color_2" Left="792px" Top="1px" ID="flag_color_2" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="35px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="flag_color_3" Left="792px" Top="1px" ID="flag_color_3" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="35px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="catalog_entities_entity_number" Visible="True" Left="745px" Top="1px" Alignment="Center" ID="catalog_entities_entity_number" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="34px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="###,##0.00" DataMember="sell_price" Visible="True" Left="690px" Top="1px" Alignment="Center" ID="sell_price" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="52px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="635px" Top="1px" ID="comp_new_price" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="52px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="material_quantity" Visible="True" Left="581px" Top="1px" Alignment="Right" ID="material_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="51px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="bonus_quantity" Visible="True" Left="534px" Top="1px" Alignment="Right" ID="bonus_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="44px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_bonus_connect" Visible="True" Left="498px" Top="1px" Alignment="Right" ID="material_bonus_connect" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="33px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_price" Visible="True" Left="435px" Top="1px" Alignment="Right" ID="material_price" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="60px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_discount_percent" Visible="True" Left="289px" Top="1px" Alignment="Right" ID="material_discount_percent" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="40px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="invoice_details_supplier_discount_percent" Visible="True" Left="333px" Top="1px" Alignment="Right" ID="invoice_details_supplier_discount_percent" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="39px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="375px" Top="1px" ID="compute_6" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="57px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" Format="#,###,##0.00" DataMember="material_new_price" Left="227px" Top="1px" Alignment="Right" ID="material_new_price" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="58px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="227px" Top="1px" ID="material_new_price1" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="58px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="material_name" Left="782px" Top="1px" Alignment="Right" ID="material_name" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="113px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Left="897px" Top="1px" ID="long_barcode" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="116px"></vt:DataViewLabelField>
<vt:DataViewTextField runat="server" DataMember="vat_types_percentage" Left="974px" Top="3px" Alignment="Right" ID="vat_types_percentage" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="8px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="color" Left="959px" Top="3px" Alignment="Right" ID="color" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="15px" Width="11px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="import_type" Left="947px" Top="3px" Alignment="Right" ID="import_type" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="14px" Width="7px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="materials_barcode" Left="933px" Top="1px" Alignment="Right" ID="materials_barcode" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="80px"></vt:DataViewTextField>
<vt:DataViewLabelField runat="server" TemplateText="" Visible="True" Left="1016px" Top="1px" ID="line_number" BorderStyle="None" Font-Names="Arial" Font-Size="8pt" ForeColor="#000000" Height="16px" Width="14px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

<vt:ComponentManager runat="server" Visible="False">
	<vt:DataViewTextField runat="server" DataMember="invoice_type" Left="1018px" Top="0px" ID="invoice_type" BorderStyle="None" Font-Names="Arial" Font-Size="12pt" ForeColor="#000000" Height="20px" Width="8px">
	</vt:DataViewTextField>
</vt:ComponentManager>

