<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="Panel Click event" Top="57px" Left="11px" ID="windowView1" Height="800px" Width="768px">
      
        <vt:Panel runat="server" Text="TestedPanel" Top="50px" Left="140px" ID="TestedPanel" Height="70px"  Width="200px"  ClickAction="PanelClick\TestedPanel_Click" >
           

        </vt:Panel>          



          <vt:Label runat="server" Text="Event Log:" Top="35px" Left="400px" ID="Label2" BorderStyle="None" Font-Bold="True" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="13px" TabIndex="45" Width="150px"></vt:Label>

        <vt:TextBox runat="server" Text="" Top="50px" Left="400px" Multiline="true" ID="textBox1" Height="100px" Width="250px"></vt:TextBox>
       
    </vt:WindowView>
</asp:Content>
