﻿<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" StylesheetTheme="Example" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" AutoSize="false" Text="Masking Elements Table" BackgroundImage ="~/Content/Images/MaskingElementsDescriptions.PNG" ID="windowViewTable" Width="730px" Height="760px">

     

          

        
    </vt:WindowView>
</asp:Content>

<%--<vt:Panel runat="server"  Text="Masking Elements Table" Left="0px" AutoScroll="true" BackgroundImageLayout="Zoom" Height="800px" Width="900px" BackgroundImage="~/Content/Images/MaskingElementsTable.png" Top="75px" ID="Panel1">
             
         </vt:Panel>--%>
 <%--   <vt:Label runat="server" SkinID="Title" Top="40px" Text="Masking Elements List" Left="280px" ID="lblTitle"></vt:Label>

        

      

                <vt:Grid runat="server" RowHeaderVisible="false" ColumnHeadersHeightSizeMode="AutoSize" Font-Size="Medium" Top="100px" Width="680px" Height="500px" ID="ElementsGrid">
            <Columns>
                <vt:GridTextBoxColumn  runat="server" ID="Grid1Col1" HeaderText="Element" Height="30px" Width="70px" AutoSize="true" ></vt:GridTextBoxColumn>
                <vt:GridTextBoxColumn  runat="server" ID="Grid1Col2" HeaderText="Description" Height="30px" Width="600px" AutoSize="true" ></vt:GridTextBoxColumn>
            </Columns>
        </vt:Grid>--%>