<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" StylesheetTheme="Example" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="Panel ClientRectangle Property" ID="windowView" LoadAction="PanelClientRectangle\OnLoad">

        <vt:Label runat="server" SkinID="Title" Text="ClientRectangle" ID="lblTitle"></vt:Label>

        <vt:Label runat="server" Text="Gets the rectangle that represents the client area of the control.

            Syntax: public Rectangle ClientRectangle { get; }
            
            The client area of a control is the bounds of the control, minus the nonclient elements such as 
            scroll bars, borders, title bars, and menus." Top="75px" ID="Label2" ></vt:Label>
         
        
        <vt:Label runat="server" SkinID="SubTitle" Text="Example:" Top="230px"  ID="lblExample"></vt:Label>

        <vt:Label runat="server" Text="ClientRectangle values of this 'TestedPanel' is initially set with 
            Left: 80px, Top: 350px, Width: 200px, Height: 80px" Top="280px"  ID="lblExp1"></vt:Label>     

        <!-- TestedPanel -->
        <vt:Panel runat="server" Text="TestedPanel" Top="350px" ID="TestedPanel"></vt:Panel>

        <vt:Label runat="server" SkinID="Log" Top="445px"  Width="400" ID="lblLog"></vt:Label>

        <vt:Button runat="server" Text="Change Panel Bounds >>"  Top="510px" Width="180px" ID="btnChangePanelBounds" ClickAction="PanelClientRectangle\btnChangePanelBounds_Click"></vt:Button>

              

    </vt:WindowView>
</asp:Content>
