﻿<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" StylesheetTheme="Example" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" AutoSize="false" Text="Format String Table" BackgroundImage ="~/Content/Images/FormatStringDescriptions.PNG" ID="windowViewTable" Width="640px" Height="900px">

     

          

        
    </vt:WindowView>
</asp:Content>

