<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="Basic RichTextBox" Top="57px" Left="11px" ID="windowView1" Height="905px" Width="768px">
        <vt:RichTextBox runat="server" Text="aaaaa" ID="richTextBox1" Left="20px" Top="20px" Height="200px" Width="400px"></vt:RichTextBox>
    </vt:WindowView>
</asp:Content>
