<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:CompositeView runat="server" AutoSize="true" Top="0px" Left="0px" ID="ReportViewerTester" Dock="Fill" Height="122" Width="222">
        <vt:Panel runat="server" ID="panel1" Dock="Fill" AutoScroll="true" Height="90" Width="90">
           <vt:Button runat="server" Text="dddd" ID="fff"></vt:Button>
        </vt:Panel>
    </vt:CompositeView>
</asp:Content>
