<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
 <vt:WindowView runat="server" StartPosition="WindowsDefaultLocation" ID="windowView1" BorderStyle="None" Font-Bold="True" Text="TreePortal" Font-Names="Tahoma" Font-Size="9pt" TabIndex="-1" Dock="Fill" LoadAction="MDIWindowPanel1\LoadAction">
        <vt:Panel runat="server" ID="panelLeft" Width="600px" Dock="Left">
             <vt:Label runat="server" Text="neta"></vt:Label>
            <vt:Button runat="server" ClickAction="MDIWindowPanel1\ClickAction"></vt:Button>
        </vt:Panel>
        <vt:Panel runat="server" ID="panelRight" Dock="Fill">
            <vt:Panel runat="server" ID="dummy" Dock="Fill">
               <vt:Label runat="server" Text="oved"></vt:Label>
            </vt:Panel>
        </vt:Panel>
    </vt:WindowView>
</asp:Content>
