<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Opacity="1" StartPosition="CenterScreen" WindowState="Maximized" MaximizeBox="True" MinimizeBox="True" EnableEsc="False" AutoScaleMode="Dpi" AutoScaleDimensions="96, 96" AutoSize="True" Text="Inventory" Top="218px" Left="190px" Margin-Bottom="2" Margin-Left="2" Margin-Right="2" Margin-Top="2" Resizable="True" ID="frmInventoryNew" Font-Names="Arial" Font-Size="8pt" Height="562px" Width="936px">
        <vt:ToolBar runat="server"  Top="0px" Left="0px" Padding-Bottom="2" Padding-Left="5" Padding-Top="2" ID="MainMenu1" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="34px" TabIndex="163" Width="936px">
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="&amp;File" ID="mnuFile" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="43px" >
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Save" ClickAction="frmInventoryNew\mnuSave_Click" ID="mnuSave" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Save to All Locations" ClickAction="frmInventoryNew\mnuSaveToAll_Click" ID="mnuSaveToAll" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Save Item As" ClickAction="frmInventoryNew\mnuSaveAs_Click" ID="mnuSaveAs" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sep7" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="288px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Delete Item" ClickAction="frmInventoryNew\mnuDeleteItem_Click" ID="mnuDeleteItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sep5" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="288px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Search List" ClickAction="frmInventoryNew\mnuPrintSearchList_Click" ID="mnuPrintSearchList" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print/Search Inventory" ClickAction="frmInventoryNew\mnuPrintInventory_Click" ID="mnuPrintInventory" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Low Stock Report" ClickAction="frmInventoryNew\mnuLowStock_Click" ID="mnuLowStock" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Container Labels" ClickAction="frmInventoryNew\mnuPrintBinLabel_Click" ID="mnuPrintBinLabel" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sep6" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="288px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Barcodes with regular printer" ID="mnuUseRegularPrinter" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px">
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Product Labels (Avery 5160 3x10)" ClickAction="frmInventoryNew\mnuProductLabel3X10_Click" ID="mnuProductLabel3X10" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Serialized Labels (Avery 5160 3x10)" ClickAction="frmInventoryNew\mnuSerialLabel3X10_Click" ID="mnuSerialLabel3X10" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                    <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sepLabelSize" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="324px"></vt:ToolBarSeparator>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Mini Product Labels (Avery 5167 4x20)" ClickAction="frmInventoryNew\mnu_MiniLabels5167_Click" ID="mnu_MiniLabels5167" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Mini Serialized labels (Avery 5167 4x20)" ClickAction="frmInventoryNew\mnu_MiniSerialLabels5167_Click" ID="mnu_MiniSerialLabels5167" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                </vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Barcodes with label printer" ID="mnuUseLabelPrinter" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px">
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Item Code Labels (1&quot; x 2&quot;)" ClickAction="frmInventoryNew\mnuProductLabel_Click" ID="mnuProductLabel" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="319px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Serialized Labels" ClickAction="frmInventoryNew\mnuSerialLabel_Click" ID="mnuSerialLabel" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="319px"></vt:ToolBarMenuItem>
                    <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="s111" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="316px"></vt:ToolBarSeparator>
                    <vt:ToolBarMenuItem runat="server" Checked="True" CheckState="Checked" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Company Name on Labels" ClickAction="frmInventoryNew\mnPrintCompanyOnLabels_Click" ID="mnPrintCompanyOnLabels" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="319px"></vt:ToolBarMenuItem>
                </vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Barcoded Product Sheet" ClickAction="frmInventoryNew\mnuBarcodedProductSheet_Click" ID="mnuBarcodedProductSheet" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" Checked="True" CheckState="Checked" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Print Price on Barcode Labels" ClickAction="frmInventoryNew\PrintLabels_ListPrice_Click" ID="PrintLabels_ListPrice" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sep00" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="288px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export" ID="mnuExportMain" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px">
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export Search List" ClickAction="frmInventoryNew\mnuExportSearchList_Click" ID="mnuExportSearchList" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="397px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export Selected Serial Numbers to Notepad" ClickAction="frmInventoryNew\ExportSelectedSerial_Click" ID="ExportSelectedSerial" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="397px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export All Item Serial Numbers to Excel" ClickAction="frmInventoryNew\mnuExportSN_Click" ID="mnuExportSN" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="397px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export Quantity List to Excel" ClickAction="frmInventoryNew\ExportQuantityListToExcelToolStripMenuItem_Click" ID="ExportQuantityListToExcelToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="397px"></vt:ToolBarMenuItem>
                    <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sepX" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="394px"></vt:ToolBarSeparator>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export Entire Serialized Inventory" ClickAction="frmInventoryNew\mnuExportAllSN_Click" ID="mnuExportAllSN" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="397px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export In-Stock Serial Inventory for Selected Status" ClickAction="frmInventoryNew\mnuExportSerialByStatus_Click" ID="mnuExportSerialByStatus" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="397px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export Inventory" ClickAction="frmInventoryNew\mnuExportInventory_Click" ID="mnuExportInventory" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="397px"></vt:ToolBarMenuItem>
                </vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="ToolBarSeparator1" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="288px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Close" ClickAction="frmInventoryNew\mnuClose_Click" ID="mnuClose" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="291px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="&amp;Find" ID="mnuSearchMain" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="48px">
                <vt:ToolBarMenuItem runat="server" ShortcutKeys="F3" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Search By Serial Number" ClickAction="frmInventoryNew\mnuSerialSearch_Click" ID="mnuSerialSearch" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="333px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Search By Item Name/Description" ClickAction="frmInventoryNew\mnuDescSearch_Click" ID="mnuDescSearch" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="333px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="&amp;Tools" ID="mnuToolsMain" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="53px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Receive Inventory from P/O" ClickAction="frmInventoryNew\mnuNonSerialAddItemWizard_Click" ID="mnuNonSerialAddItemWizard" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="mnuF" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="340px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Category Maintenance" ClickAction="frmInventoryNew\mnuManageCategories_Click" ID="mnuManageCategories" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Vendor Maintenance" ClickAction="frmInventoryNew\mnuManageVendors_Click" ID="mnuManageVendors" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="_mnuTools_3" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="340px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Data Collector Options" ClickAction="frmInventoryNew\mnuDataCollectorOptions_Click" ID="mnuDataCollectorOptions" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="_mnuTools_5" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="340px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export Inventory Item Definition" ClickAction="frmInventoryNew\mnuExportInvDef_Click" ID="mnuExportInvDef" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="_mnuTools_7" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="340px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Process Vendor Invoice" Visible="False" ID="mnuProcessVendorInvoice" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="_mnuTools_9" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="340px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Inventory Verification Screen" ID="mnuIncCountAudit" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px">
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Serial Count Audit" ClickAction="frmInventoryNew\SerialBatchToolStripMenuItem_Click" ID="SerialBatchToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="219px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Non-Serial Count Audit" ClickAction="frmInventoryNew\NonSerialCountToolStripMenuItem_Click" ID="NonSerialCountToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="219px"></vt:ToolBarMenuItem>
                </vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Manage Colors" ClickAction="frmInventoryNew\mnuManageColors_Click" ID="mnuManageColors" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sepPriceAdj" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="340px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Batch Price Adjustment" ClickAction="frmInventoryNew\mnuRetailPriceAdj_Click" ID="mnuRetailPriceAdj" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="SKU Properties" ClickAction="frmInventoryNew\SKUPropertiesToolStripMenuItem_Click" ID="SKUPropertiesToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Manage Property Definitions" ClickAction="frmInventoryNew\ManagePropertyDefinitionsToolStripMenuItem_Click" ID="ManagePropertyDefinitionsToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Import From Excel" ClickAction="frmInventoryNew\mnuImportfromExcel_Click" ID="mnuImportfromExcel" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Update Store Allocation MinMax from Excel" ClickAction="frmInventoryNew\mnuUpdateStoreInvAllocationMinMax_Click" ID="mnuUpdateStoreInvAllocationMinMax" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Update Inventory Threshold From Excel" ClickAction="frmInventoryNew\mnuUpdateInvThreshold_Click" ID="mnuUpdateInvThreshold" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="343px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Edit" Visible="False" ID="mnuEdit" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="44px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Update Purchase Details" ID="mnuUpdateDetails" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="315px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Detach SIM from Selected Item(s)" ClickAction="frmInventoryNew\mnuDetachSelectedItems_Click" ID="mnuDetachSelectedItems" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="315px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Delete Non Serialized Purchase Detail" ClickAction="frmInventoryNew\mnuDeleteNonSNDetail_Click" ID="mnuDeleteNonSNDetail" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="315px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Change Purchase Item Code" ClickAction="frmInventoryNew\mnuMoveToItem_Click" ID="mnuMoveToItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="315px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Config Labels" ClickAction="frmInventoryNew\mnuConfigLabels_Click" ID="mnuConfigLabels" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="315px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Data Ent&amp;ry" Visible="False" ID="mnuImportMain" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="87px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Scan/Enter Each Item" ID="mnuScanEachItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="296px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sep2" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="293px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Scan Batch (First and Last)" ID="mnuScanBatch" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="296px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sep3" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="293px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Import" ClickAction="frmInventoryNew\mnuDataCollectorMain_Click" ID="mnuDataCollectorMain" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="296px">
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Wireless Scanner" ClickAction="frmInventoryNew\mnuWirelessScanner_Click" ID="mnuWirelessScanner" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                    <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="sepWireless" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="324px"></vt:ToolBarSeparator>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="&amp;UniTech Data Collector" ID="mnuDataCollector_Unitech" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="&amp;Metrologic Data Collector" ID="mnuDataCollector_Metrologic" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                    <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="_mnuDataCollector_2" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="324px"></vt:ToolBarSeparator>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="&amp;Import From File" ID="mnuImportFromFile" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                    <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="_mnuDataCollector_4" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="324px"></vt:ToolBarSeparator>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Import From Purchase Order" ClickAction="frmInventoryNew\mnuImportFromPO_Click" ID="mnuImportFromPO" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                    <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="_mnuDataCollector_6" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="324px"></vt:ToolBarSeparator>
                    <vt:ToolBarMenuItem runat="server" Checked="True" CheckOnClick="True" CheckState="Checked" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Delete Source After Import" ID="mnuDeleteSourceAfterImport" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" Checked="True" CheckOnClick="True" CheckState="Checked" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Import Bundled ESN/IMEI with SIM/ICCID" ClickAction="frmInventoryNew\mnuBundleESNSimm_Click" ID="mnuBundleESNSimm" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="327px"></vt:ToolBarMenuItem>
                </vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Schedule Price Updates" ClickAction="frmInventoryNew\ShceduleUpdatesToolStripMenuItem_Click" ID="ShceduleUpdatesToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="296px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Maintenance" ID="mnuMaintMain" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="101px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Set Qty Alert for In Stock Items Only" ClickAction="frmInventoryNew\mnuSetQtyAlertForInstockItems_Click" ID="mnuSetQtyAlertForInstockItems" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="370px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Set Qty Alert Value To ..." ClickAction="frmInventoryNew\mnuSetQtyAlert_Click" ID="mnuSetQtyAlert" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="370px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Repair Quanitity Discrepancies (Rebuild Index)" ClickAction="frmInventoryNew\mnuQtyReindex_Click" ID="mnuQtyReindex" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="370px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Create System Items &amp;&amp; Services" ClickAction="frmInventoryNew\mnuCreateSystemItems_Click" ID="mnuCreateSystemItems" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="370px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Deactivate Out-of-Stock Items" ClickAction="frmInventoryNew\mnuDeactivateOutOfStockItems_Click" ID="mnuDeactivateOutOfStockItems" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="370px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Set POS Min Profit To ..." ClickAction="frmInventoryNew\mnuSetMinProfit_Click" ID="mnuSetMinProfit" Enabled="False" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="370px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Calculate Avg Cost Price for All Items In Stock" ClickAction="frmInventoryNew\mnuCalcAvgCost_Click" ID="mnuCalcAvgCost" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="370px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Export Invalid Inventory List" ClickAction="frmInventoryNew\mnuExportInvalidInventory_Click" ID="mnuExportInvalidInventory" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="370px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Manage Inventory Bins" ID="ManageInventoryBinsToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="370px">
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Manage Bin Types" ClickAction="frmInventoryNew\ManageBinTypesToolStripMenuItem_Click" ID="ManageBinTypesToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="234px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Manage Bins" ClickAction="frmInventoryNew\ManageBinsToolStripMenuItem_Click" ID="ManageBinsToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="234px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Link Bins and Categories" ClickAction="frmInventoryNew\LinkItemsAndBinsToolStripMenuItem_Click" ID="LinkBinToCategoryToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="234px"></vt:ToolBarMenuItem>
                </vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="View Options" ID="mnuOptions" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="102px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Show Detail Product List" ClickAction="frmInventoryNew\ckShowMoreInfo_Click" ID="ckShowMoreInfo" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="324px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Show Good/Bad Quantity on List (Slow)" ClickAction="frmInventoryNew\mnuShowNG_Click" ID="mnuShowNG" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="324px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" Checked="True" CheckState="Checked" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Enable Beep on Input Error" ClickAction="frmInventoryNew\mnuEnableBeep_Click" ID="mnuEnableBeep" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="324px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Show Message on Input Error" ClickAction="frmInventoryNew\mnuShowErrorMsg_Click" ID="mnuShowErrorMsg" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="324px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" CheckOnClick="True" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Load from local inventory" Visible="False" ID="mnuLoadFromLocalInventory" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="324px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Edit" Visible="False" ID="mnuPopUp" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="44px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Copy S/N" ClickAction="frmInventoryNew\mnuCopySN_Click" ID="mnuCopySN" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="310px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Move S/N to Different Code/Category" ClickAction="frmInventoryNew\ChangeSerialItemCodeMenu_Click" Visible="False" ID="ChangeSerialItemCodeMenu" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="310px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Track Item History" ClickAction="frmInventoryNew\mnuTrackHistory_Click" ID="mnuTrackHistory" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="310px"></vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="p1" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="307px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Change Status" ID="mnuStatusMain" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="310px">
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Available" ID="AvailableToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="133px"></vt:ToolBarMenuItem>
                </vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Change Bin..." ClickAction="frmInventoryNew\mnuChangeBin_Click" ID="mnuChangeBin" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="310px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Tools" ID="mnuItemTools" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="310px">
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Verify Item Status" ClickAction="frmInventoryNew\mnuVerifyItemStat_Click" ID="mnuVerifyItemStat" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="214px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Verify Entire List" ClickAction="frmInventoryNew\mnuVerifyAll_Click" ID="mnuVerifyAll" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="214px"></vt:ToolBarMenuItem>
                    <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Check status in Billing" ID="CheckStatusInBillingToolStripMenuItem" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="214px"></vt:ToolBarMenuItem>
                </vt:ToolBarMenuItem>
                <vt:ToolBarSeparator runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" ID="p2" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="6px" Width="307px"></vt:ToolBarSeparator>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Detach SIM from Item" ClickAction="frmInventoryNew\mnuDetachSimm_Click" ID="mnuDetachSimm" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="310px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Attach SIM to Item" ClickAction="frmInventoryNew\mnuAttachSimm_Click" ID="mnuAttachSimm" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="310px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="mnuPopUp2" Visible="False" ID="mnuPOP2" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="97px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Delete Entry" ID="mnuDeleteTrackEntry" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="154px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="mnuPopUp3" Visible="False" ID="mnuPopUp3" Font-Names="Arial" Font-Size="10.2pt" Height="20px" Width="97px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Scan Each" ID="mnuPopup3_ScanEach" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="203px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Scan Each With SIM" ID="mnuPop3_ScanEachWithSIM" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="203px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="mnuPopUp4" Visible="False" ID="mnuPopUp4" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="20px" Width="86px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Track Item History" ClickAction="frmInventoryNew\mnuDeleteItemHistory_Click" ID="mnuDeleteItemHistory" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="171px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="mnuNonSNRightClick" Visible="False" ID="mnuNonSNRightClick" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="20px" Width="136px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Change Bin..." ClickAction="frmInventoryNew\mnuChangeBin2_Click" ID="mnuChangeBin2" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="144px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="mnuItemPopUp" Visible="False" ID="mnuItemPopUp" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="20px" Width="104px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Item Plan rebates" ClickAction="frmInventoryNew\mnuItemPlanrebates_Click" ID="mnuItemPlanrebates" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="165px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
            <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="mnuGVSNBinRightClickMenu" Visible="False" ID="mnuGVSNBinRightClickMenu" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="20px" Width="176px">
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Move [For Sale] stock to another bin" ID="mnuChangeBin3" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="319px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Move [Not For Sale] stock to another bin" ID="mnuChangeBin4" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="319px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Change status from [For Sale] to [Not For Sale]" ID="mnuChangeBin5" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="319px"></vt:ToolBarMenuItem>
                <vt:ToolBarMenuItem runat="server" TextDirection="Inherit" TextImageRelation="ImageBeforeText" ImageAlign="MiddleRight" AutoSize="True" Text="Change status from [Not For Sale] to [For Sale]" ID="mnuChangeBin6" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="22px" Width="319px"></vt:ToolBarMenuItem>
            </vt:ToolBarMenuItem>
        </vt:ToolBar>
        <vt:SplitContainer runat="server" SplitterDistance="722" AutoSize="True" Top="40px" Left="0px" Margin-Bottom="2" Margin-Left="2" Margin-Right="2" Margin-Top="2" ID="SplitContainer1" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="538px" TabIndex="167" Width="1136px">
            <vt:SplitterPanel runat="server" AutoSize="True" Dock="Fill" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt">
            </vt:SplitterPanel>
            <vt:SplitterPanel runat="server" AutoSize="True" Dock="Left" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt">
            </vt:SplitterPanel>
        </vt:SplitContainer>
        <vt:Label runat="server" TextAlign="TopLeft" AutoSize="True" Anchor="None" Text="Master catalog item" Top="6px" Left="823px" ID="lblMasterCatalogIndicator" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="Red" Height="14px" TabIndex="93" Width="100px">
        </vt:Label>
    </vt:WindowView>

    <vt:ComponentManager runat="server" Visible="False">
        <vt:Timer runat="server" Interval="800" TickAction="frmInventoryNew\AgentTimer_Tick" ID="AgentTimer">
        </vt:Timer>
        <vt:ColumnHeader runat="server" Text="Options" ID="_OptionLV_ColumnHeader_1">
        </vt:ColumnHeader>
    </vt:ComponentManager>

        </vt:ToolBar>
        <vt:Panel runat="server" Dock="Fill">
            <vt:Button runat="server" Top="100" Width="100" Height="40" Text="add new toolbar menu item" ClickAction="BasicToolBar\but_click"></vt:Button>
        </vt:Panel>
    </vt:WindowView>
</asp:Content>

