﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>

<asp:Content ContentPlaceHolderID="Content" runat="server">
<vt:WindowView runat="server" Opacity="1" StartPosition="Manual" AutoScaleMode="Font" AutoScaleDimensions="6, 13" Text="Form2" Top="100px" Left="100px" ID="Form2" BorderStyle="None" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="419px" TabIndex="-1" Width="516px"></vt:WindowView>


</asp:Content>