<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Mobile.Master.cs" Inherits="Mesofon.Web.SiteMobileMaster" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <base href="/" />
    <meta charset="utf-8" />
     <title><%: Page.Title %> - My ASP.NET Application</title>
    <script src="https://cdn.sencha.com/touch/sencha-touch-2.4.2/sencha-touch-all.js"></script>
    <script src="/Scripts/ext-visualtree.common.js?ver=1.07.48"></script>
    <script src="/Scripts/ext-visualtree.mobile.js?ver=1.07.52"></script>
    <script src="/Scripts/extjs/vt/ext.data.proxy.vt.js?ver=1.3"></script>
    <link id="theme" href="https://cdn.sencha.com/touch/sencha-touch-2.4.2/resources/css/sencha-touch.css" rel="stylesheet" />
    <link href="/Content/vt-styles.css" rel="stylesheet" />
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/vt-styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
</head>
<body>
    <form runat="server">
        <asp:ContentPlaceHolder runat="server" ID="Content" />
    </form>
</body>
</html>
