<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="Window SizeGripStyle Property" Top="57px" Left="0px" ID="windowView1" Height="800px" Width="700px">
		
		<vt:Button runat="server" TextAlign="MiddleCenter" Text="Open The Tested Window" Top="100px" Left="200px" ClickAction="WindowSizeGripStyle\btnOpenTestedWindow_Click" ID="btnOpenTestedWindow" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="40px" TabIndex="1" Width="250px">
		</vt:Button>
        
        
        
		

       

        </vt:WindowView>
</asp:Content>