<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" StylesheetTheme="Example" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="ComboBox MultiColumn Property" ID="windowView2" LoadAction="ComboBoxMultiColumn/OnLoad">


      
        <vt:ComboBox runat="server" Text="ComboBox" MultiColumn-Size="Large" Top="195px" ID="TestedComboBox1" ></vt:ComboBox>


 
 


     

    </vt:WindowView>
</asp:Content>
