<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="TextBox SelectAll" Top="57px" Left="11px" ID="windowView1" Height="905px" Width="768px">
        <vt:TextBox runat="server" Text="aaaaa" PasswordChar="" Top="44px"  Left="20px" ID="textBox1"  ForeColor="Tomato" Font-Names="Microsoft Sans Serif" Font-Size="12pt" Height="20px" Width="180px"></vt:TextBox>
      
        <vt:Button runat="server" Text="SelectAll" Top="44px" Left="300px" ID="button1" Height="36px" TabIndex="1" Width="200px" ClickAction="TextBoxSelectAll\SelectAll_Click"></vt:Button>
    </vt:WindowView>
</asp:Content>
