<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.ds_invpack_deleted_itemsRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="Window">
	<Bands>
<vt:DataViewBand runat="server" Height="20px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewLabelField runat="server" Text="&quot;Branch Number&quot;" TemplateText="&quot;Branch Number&quot;" Visible="True" Left="2px" Top="2px" Alignment="Center" ID="branch_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="90px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Station Number&quot;" TemplateText="&quot;Station Number&quot;" Visible="True" Left="94px" Top="2px" Alignment="Center" ID="station_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="90px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Delete Point&quot;" TemplateText="&quot;Delete Point&quot;" Visible="True" Left="186px" Top="2px" Alignment="Center" ID="delete_point_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Serial Number&quot;" TemplateText="&quot;Serial Number&quot;" Visible="True" Left="260px" Top="2px" Alignment="Center" ID="serial_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="82px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Update Datetime&quot;" TemplateText="&quot;Update Datetime&quot;" Visible="True" Left="344px" Top="2px" Alignment="Center" ID="update_datetime_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Del Emp Number&quot;" TemplateText="&quot;Del Emp Number&quot;" Visible="True" Left="478px" Top="2px" Alignment="Center" ID="del_emp_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="99px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Delete Option&quot;" TemplateText="&quot;Delete Option&quot;" Visible="True" Left="579px" Top="2px" Alignment="Center" ID="delete_option_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="79px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Supplier Number&quot;" TemplateText="&quot;Supplier Number&quot;" Visible="True" Left="660px" Top="2px" Alignment="Center" ID="supplier_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="96px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Order Number&quot;" TemplateText="&quot;Order Number&quot;" Visible="True" Left="758px" Top="2px" Alignment="Center" ID="order_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="81px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Doc Name&quot;" TemplateText="&quot;Doc Name&quot;" Visible="True" Left="841px" Top="2px" Alignment="Center" ID="doc_name_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Doc Type&quot;" TemplateText="&quot;Doc Type&quot;" Visible="True" Left="1029px" Top="2px" Alignment="Center" ID="doc_type_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="55px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Doc Number&quot;" TemplateText="&quot;Doc Number&quot;" Visible="True" Left="1086px" Top="2px" Alignment="Center" ID="doc_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Employee Number&quot;" TemplateText="&quot;Employee Number&quot;" Visible="True" Left="1160px" Top="2px" Alignment="Center" ID="employee_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="107px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Move Datetime&quot;" TemplateText="&quot;Move Datetime&quot;" Visible="True" Left="1269px" Top="2px" Alignment="Center" ID="move_datetime_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Supplier Datetime&quot;" TemplateText="&quot;Supplier Datetime&quot;" Visible="True" Left="1403px" Top="2px" Alignment="Center" ID="supplier_datetime_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;State&quot;" TemplateText="&quot;State&quot;" Visible="True" Left="1537px" Top="2px" Alignment="Center" ID="state_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="31px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;B2b Status&quot;" TemplateText="&quot;B2b Status&quot;" Visible="True" Left="1570px" Top="2px" Alignment="Center" ID="b2b_status_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Doc Total Amount&quot;" TemplateText="&quot;Doc Total Amount&quot;" Visible="True" Left="1644px" Top="2px" Alignment="Center" ID="doc_total_amount_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="104px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Discount Percent&quot;" TemplateText="&quot;Discount Percent&quot;" Visible="True" Left="1750px" Top="2px" Alignment="Center" ID="discount_percent_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="100px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Item State&quot;" TemplateText="&quot;Item State&quot;" Visible="True" Left="1852px" Top="2px" Alignment="Center" ID="item_state_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="60px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Last Update Datetime&quot;" TemplateText="&quot;Last Update Datetime&quot;" Visible="True" Left="1914px" Top="2px" Alignment="Center" ID="last_update_datetime_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Indicator&quot;" TemplateText="&quot;Indicator&quot;" Visible="True" Left="2048px" Top="2px" Alignment="Center" ID="indicator_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Packing List Number&quot;" TemplateText="&quot;Packing List Number&quot;" Visible="True" Left="2122px" Top="2px" Alignment="Center" ID="packing_list_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="121px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Packing Serial&quot;" TemplateText="&quot;Packing Serial&quot;" Visible="True" Left="2245px" Top="2px" Alignment="Center" ID="packing_serial_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="84px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Import Type&quot;" TemplateText="&quot;Import Type&quot;" Visible="True" Left="2331px" Top="2px" Alignment="Center" ID="import_type_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="68px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Color&quot;" TemplateText="&quot;Color&quot;" Visible="True" Left="2401px" Top="2px" Alignment="Center" ID="color_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Decline Number&quot;" TemplateText="&quot;Decline Number&quot;" Visible="True" Left="2475px" Top="2px" Alignment="Center" ID="decline_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="92px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Mini Terminal&quot;" TemplateText="&quot;Mini Terminal&quot;" Visible="True" Left="2569px" Top="2px" Alignment="Center" ID="mini_terminal_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="77px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Expiration Date&quot;" TemplateText="&quot;Expiration Date&quot;" Visible="True" Left="2648px" Top="2px" Alignment="Center" ID="expiration_date_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Out Of Stock Datetime&quot;" TemplateText="&quot;Out Of Stock Datetime&quot;" Visible="True" Left="2782px" Top="2px" Alignment="Center" ID="out_of_stock_datetime_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Bonus Row&quot;" TemplateText="&quot;Bonus Row&quot;" Visible="True" Left="2916px" Top="2px" Alignment="Center" ID="bonus_row_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="66px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Bonus Connect&quot;" TemplateText="&quot;Material Bonus Connect&quot;" Visible="True" Left="2984px" Top="2px" Alignment="Center" ID="material_bonus_connect_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="139px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Quantity Within Invoice&quot;" TemplateText="&quot;Quantity Within Invoice&quot;" Visible="True" Left="3125px" Top="2px" Alignment="Center" ID="quantity_within_invoice_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="133px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Expected Material Quantity&quot;" TemplateText="&quot;Expected Material Quantity&quot;" Visible="True" Left="3260px" Top="2px" Alignment="Center" ID="expected_material_quantity_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="158px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Quantity&quot;" TemplateText="&quot;Material Quantity&quot;" Visible="True" Left="3420px" Top="2px" Alignment="Center" ID="material_quantity_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="99px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Bonus Quantity&quot;" TemplateText="&quot;Bonus Quantity&quot;" Visible="True" Left="3521px" Top="2px" Alignment="Center" ID="bonus_quantity_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="90px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Price&quot;" TemplateText="&quot;Material Price&quot;" Visible="True" Left="3613px" Top="2px" Alignment="Center" ID="material_price_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="80px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Supplier Discount Percent&quot;" TemplateText="&quot;Supplier Discount Percent&quot;" Visible="True" Left="3695px" Top="2px" Alignment="Center" ID="supplier_discount_percent_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="151px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Discount Percent&quot;" TemplateText="&quot;Material Discount Percent&quot;" Visible="True" Left="3848px" Top="2px" Alignment="Center" ID="material_discount_percent_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="150px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Discount Amount&quot;" TemplateText="&quot;Material Discount Amount&quot;" Visible="True" Left="4000px" Top="2px" Alignment="Center" ID="material_discount_amount_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="150px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Bonus Discount&quot;" TemplateText="&quot;Bonus Discount&quot;" Visible="True" Left="4152px" Top="2px" Alignment="Center" ID="bonus_discount_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="92px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Material Price After Disc&quot;" TemplateText="&quot;Material Price After Disc&quot;" Visible="True" Left="4246px" Top="2px" Alignment="Center" ID="material_price_after_disc_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="141px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Sell Price&quot;" TemplateText="&quot;Sell Price&quot;" Visible="True" Left="4389px" Top="2px" Alignment="Center" ID="sell_price_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Current Catalog Sell Price&quot;" TemplateText="&quot;Current Catalog Sell Price&quot;" Visible="True" Left="4463px" Top="2px" Alignment="Center" ID="current_catalog_sell_price_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="165px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Details&quot;" TemplateText="&quot;Details&quot;" Visible="True" Left="4630px" Top="2px" Alignment="Center" ID="details_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Batch Number&quot;" TemplateText="&quot;Batch Number&quot;" Visible="True" Left="4818px" Top="2px" Alignment="Center" ID="batch_number_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="246px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Recieved Date&quot;" TemplateText="&quot;Recieved Date&quot;" Visible="True" Left="5066px" Top="2px" Alignment="Center" ID="recieved_date_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Batch Expiry Date&quot;" TemplateText="&quot;Batch Expiry Date&quot;" Visible="True" Left="5200px" Top="2px" Alignment="Center" ID="batch_expiry_date_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="132px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Quantity In&quot;" TemplateText="&quot;Quantity In&quot;" Visible="True" Left="5334px" Top="2px" Alignment="Center" ID="quantity_in_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="72px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Quantity Out&quot;" TemplateText="&quot;Quantity Out&quot;" Visible="True" Left="5408px" Top="2px" Alignment="Center" ID="quantity_out_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="74px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="23px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="branch_number" Visible="True" Left="2px" Top="2px" Alignment="Right" ID="branch_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="90px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="station_number" Visible="True" Left="94px" Top="2px" Alignment="Right" ID="station_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="90px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="delete_point" Visible="True" Left="186px" Top="2px" Alignment="Right" ID="delete_point" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="serial_number" Visible="True" Left="260px" Top="2px" Alignment="Right" ID="serial_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="82px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="update_datetime" Visible="True" Left="344px" Top="2px" ID="update_datetime" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="del_emp_number" Visible="True" Left="478px" Top="2px" Alignment="Right" ID="del_emp_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="99px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="delete_option" Visible="True" Left="579px" Top="2px" Alignment="Right" ID="delete_option" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="79px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_number" Visible="True" Left="660px" Top="2px" Alignment="Right" ID="supplier_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="96px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="order_number" Visible="True" Left="758px" Top="2px" Alignment="Right" ID="order_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="81px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="doc_name" Visible="True" Left="841px" Top="2px" ID="doc_name" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="doc_type" Visible="True" Left="1029px" Top="2px" ID="doc_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="55px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="doc_number" Visible="True" Left="1086px" Top="2px" Alignment="Right" ID="doc_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="employee_number" Visible="True" Left="1160px" Top="2px" Alignment="Right" ID="employee_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="107px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="move_datetime" Visible="True" Left="1269px" Top="2px" ID="move_datetime" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="supplier_datetime" Visible="True" Left="1403px" Top="2px" ID="supplier_datetime" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="state" Visible="True" Left="1537px" Top="2px" ID="state" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="31px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="b2b_status" Visible="True" Left="1570px" Top="2px" Alignment="Right" ID="b2b_status" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="doc_total_amount" Visible="True" Left="1644px" Top="2px" Alignment="Right" ID="doc_total_amount" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="104px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="discount_percent" Visible="True" Left="1750px" Top="2px" Alignment="Right" ID="discount_percent" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="100px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="item_state" Visible="True" Left="1852px" Top="2px" ID="item_state" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="60px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="last_update_datetime" Visible="True" Left="1914px" Top="2px" ID="last_update_datetime" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="indicator" Visible="True" Left="2048px" Top="2px" Alignment="Right" ID="indicator" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="packing_list_number" Visible="True" Left="2122px" Top="2px" Alignment="Right" ID="packing_list_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="121px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="packing_serial" Visible="True" Left="2245px" Top="2px" Alignment="Right" ID="packing_serial" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="84px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="import_type" Visible="True" Left="2331px" Top="2px" ID="import_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="68px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="color" Visible="True" Left="2401px" Top="2px" Alignment="Right" ID="color" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="decline_number" Visible="True" Left="2475px" Top="2px" Alignment="Right" ID="decline_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="92px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="mini_terminal" Visible="True" Left="2569px" Top="2px" Alignment="Right" ID="mini_terminal" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="77px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="expiration_date" Visible="True" Left="2648px" Top="2px" ID="expiration_date" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="out_of_stock_datetime" Visible="True" Left="2782px" Top="2px" ID="out_of_stock_datetime" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="bonus_row" Visible="True" Left="2916px" Top="2px" ID="bonus_row" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="66px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_bonus_connect" Visible="True" Left="2984px" Top="2px" Alignment="Right" ID="material_bonus_connect" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="139px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="quantity_within_invoice" Visible="True" Left="3125px" Top="2px" Alignment="Right" ID="quantity_within_invoice" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="133px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="expected_material_quantity" Visible="True" Left="3260px" Top="2px" Alignment="Right" ID="expected_material_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="158px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_quantity" Visible="True" Left="3420px" Top="2px" Alignment="Right" ID="material_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="99px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="bonus_quantity" Visible="True" Left="3521px" Top="2px" Alignment="Right" ID="bonus_quantity" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="90px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_price" Visible="True" Left="3613px" Top="2px" Alignment="Right" ID="material_price" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="80px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="supplier_discount_percent" Visible="True" Left="3695px" Top="2px" Alignment="Right" ID="supplier_discount_percent" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="151px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_discount_percent" Visible="True" Left="3848px" Top="2px" Alignment="Right" ID="material_discount_percent" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="150px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_discount_amount" Visible="True" Left="4000px" Top="2px" Alignment="Right" ID="material_discount_amount" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="150px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="bonus_discount" Visible="True" Left="4152px" Top="2px" Alignment="Right" ID="bonus_discount" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="92px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="material_price_after_disc" Visible="True" Left="4246px" Top="2px" Alignment="Right" ID="material_price_after_disc" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="141px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="sell_price" Visible="True" Left="4389px" Top="2px" Alignment="Right" ID="sell_price" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="current_catalog_sell_price" Visible="True" Left="4463px" Top="2px" Alignment="Right" ID="current_catalog_sell_price" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="165px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="details" Visible="True" Left="4630px" Top="2px" ID="details" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="batch_number" Visible="True" Left="4818px" Top="2px" ID="batch_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="246px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="recieved_date" Visible="True" Left="5066px" Top="2px" ID="recieved_date" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" Format="[shortdate] [time]" DataMember="batch_expiry_date" Visible="True" Left="5200px" Top="2px" ID="batch_expiry_date" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="132px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="quantity_in" Visible="True" Left="5334px" Top="2px" Alignment="Right" ID="quantity_in" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="quantity_out" Visible="True" Left="5408px" Top="2px" Alignment="Right" ID="quantity_out" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="74px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

