<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.lds_global_branch_parametersRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="Window">
	<Bands>
<vt:DataViewBand runat="server" Height="18px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewLabelField runat="server" Text="&quot;Report Db Active&quot;" TemplateText="&quot;Report Db Active&quot;" Visible="True" Left="1px" Top="1px" Alignment="Center" ID="report_db_active_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="97px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Report Db Type&quot;" TemplateText="&quot;Report Db Type&quot;" Visible="True" Left="99px" Top="1px" Alignment="Center" ID="report_db_type_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="90px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Report Db Dbms&quot;" TemplateText="&quot;Report Db Dbms&quot;" Visible="True" Left="190px" Top="1px" Alignment="Center" ID="report_db_dbms_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="390px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Report Db Dbparm&quot;" TemplateText="&quot;Report Db Dbparm&quot;" Visible="True" Left="581px" Top="1px" Alignment="Center" ID="report_db_dbparm_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="600px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Report Db Database&quot;" TemplateText="&quot;Report Db Database&quot;" Visible="True" Left="1182px" Top="1px" Alignment="Center" ID="report_db_database_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Report Db Servername&quot;" TemplateText="&quot;Report Db Servername&quot;" Visible="True" Left="1369px" Top="1px" Alignment="Center" ID="report_db_servername_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Target Db Active&quot;" TemplateText="&quot;Target Db Active&quot;" Visible="True" Left="1556px" Top="1px" Alignment="Center" ID="target_db_active_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="95px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Target Db Type&quot;" TemplateText="&quot;Target Db Type&quot;" Visible="True" Left="1652px" Top="1px" Alignment="Center" ID="target_db_type_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="88px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Target Db Dbms&quot;" TemplateText="&quot;Target Db Dbms&quot;" Visible="True" Left="1741px" Top="1px" Alignment="Center" ID="target_db_dbms_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="390px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Target Db Dbparm&quot;" TemplateText="&quot;Target Db Dbparm&quot;" Visible="True" Left="2132px" Top="1px" Alignment="Center" ID="target_db_dbparm_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="600px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Target Db Database&quot;" TemplateText="&quot;Target Db Database&quot;" Visible="True" Left="2733px" Top="1px" Alignment="Center" ID="target_db_database_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Target Db Servername&quot;" TemplateText="&quot;Target Db Servername&quot;" Visible="True" Left="2920px" Top="1px" Alignment="Center" ID="target_db_servername_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="21px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="report_db_active" Visible="True" Left="1px" Top="1px" Alignment="Right" ID="report_db_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="report_db_type" Visible="True" Left="99px" Top="1px" ID="report_db_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="42px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="report_db_dbms" Visible="True" Left="190px" Top="1px" ID="report_db_dbms" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="390px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="report_db_dbparm" Visible="True" Left="581px" Top="1px" ID="report_db_dbparm" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="600px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="report_db_database" Visible="True" Left="1182px" Top="1px" ID="report_db_database" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="report_db_servername" Visible="True" Left="1369px" Top="1px" ID="report_db_servername" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="target_db_active" Visible="True" Left="1556px" Top="1px" Alignment="Right" ID="target_db_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="72px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="target_db_type" Visible="True" Left="1652px" Top="1px" ID="target_db_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="42px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="target_db_dbms" Visible="True" Left="1741px" Top="1px" ID="target_db_dbms" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="390px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="target_db_dbparm" Visible="True" Left="2132px" Top="1px" ID="target_db_dbparm" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="600px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="target_db_database" Visible="True" Left="2733px" Top="1px" ID="target_db_database" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="target_db_servername" Visible="True" Left="2920px" Top="1px" ID="target_db_servername" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="macabi_transaction_code" Visible="True" Left="3106px" Top="0px" ID="macabi_transaction_code" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="leumit_transaction_code" Visible="True" Left="3360px" Top="0px" ID="leumit_transaction_code" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="card_terminal_proxy_active" Visible="True" Left="3614px" Top="0px" ID="card_terminal_proxy_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="card_terminal_path_from_client" Visible="True" Left="3868px" Top="0px" ID="card_terminal_path_from_client" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="378px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="card_terminal_path_from_proxy" Visible="True" Left="4246px" Top="0px" ID="card_terminal_path_from_proxy" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="378px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="card_terminal_number" Visible="True" Left="4624px" Top="0px" ID="card_terminal_number" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="71px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="card_terminal_version" Visible="True" Left="4695px" Top="0px" ID="card_terminal_version" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="71px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="queue_db_active" Visible="True" Left="4766px" Top="0px" ID="queue_db_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="queue_db_type" Visible="True" Left="5020px" Top="0px" ID="queue_db_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="36px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="queue_db_dbms" Visible="True" Left="5056px" Top="0px" ID="queue_db_dbms" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="378px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="queue_db_dbparm" Visible="True" Left="5434px" Top="0px" ID="queue_db_dbparm" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="600px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="queue_db_database" Visible="True" Left="6034px" Top="0px" ID="queue_db_database" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="177px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="queue_db_servername" Visible="True" Left="6211px" Top="0px" ID="queue_db_servername" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="177px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="macabi_delete_after_tran" Visible="True" Left="6388px" Top="0px" ID="macabi_delete_after_tran" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="leumit_delete_after_tran" Visible="True" Left="6642px" Top="0px" ID="leumit_delete_after_tran" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

