<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Mesofon.Repository.lds_station_hardware_parametersRepository>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:ControlView runat="server">
<vt:DataView runat="server" AutoSize="True" DataSource="<%#Model.PrimaryList%>"  Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" ForeColor="Window">
	<Bands>
<vt:DataViewBand runat="server" Height="18px" ForeColor="#000000" ID="Header"><Fields>
<vt:DataViewLabelField runat="server" Text="&quot;Report Db Userid&quot;" TemplateText="&quot;Report Db Userid&quot;" Visible="True" Left="1px" Top="1px" Alignment="Center" ID="report_db_userid_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Report Db Password&quot;" TemplateText="&quot;Report Db Password&quot;" Visible="True" Left="188px" Top="1px" Alignment="Center" ID="report_db_password_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Target Db Userid&quot;" TemplateText="&quot;Target Db Userid&quot;" Visible="True" Left="375px" Top="1px" Alignment="Center" ID="target_db_userid_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
<vt:DataViewLabelField runat="server" Text="&quot;Target Db Password&quot;" TemplateText="&quot;Target Db Password&quot;" Visible="True" Left="562px" Top="1px" Alignment="Center" ID="target_db_password_t" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="186px"></vt:DataViewLabelField>
</Fields>
</vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Summary" ID="summary"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="0px" ForeColor="#000000" Type="Footer" ID="footer"></vt:DataViewBand>
<vt:DataViewBand runat="server" Height="21px" ForeColor="#000000" Type="Details" ID="detail"><Fields>
<vt:DataViewTextField runat="server" DataMember="report_db_userid" Visible="True" Left="1px" Top="1px" ID="report_db_userid" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="report_db_password" Visible="True" Left="188px" Top="1px" ID="report_db_password" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="target_db_userid" Visible="True" Left="375px" Top="1px" ID="target_db_userid" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="target_db_password" Visible="True" Left="562px" Top="1px" ID="target_db_password" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="19px" Width="186px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_1" Visible="True" Left="748px" Top="0px" ID="printer_1" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_2" Visible="True" Left="1002px" Top="0px" ID="printer_2" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_3" Visible="True" Left="1256px" Top="0px" ID="printer_3" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_4" Visible="True" Left="1510px" Top="0px" ID="printer_4" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_5" Visible="True" Left="1764px" Top="0px" ID="printer_5" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_6" Visible="True" Left="2018px" Top="0px" ID="printer_6" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_7" Visible="True" Left="2272px" Top="0px" ID="printer_7" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_8" Visible="True" Left="2526px" Top="0px" ID="printer_8" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_9" Visible="True" Left="2780px" Top="0px" ID="printer_9" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_10" Visible="True" Left="3034px" Top="0px" ID="printer_10" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_11" Visible="True" Left="3288px" Top="0px" ID="printer_11" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_12" Visible="True" Left="3542px" Top="0px" ID="printer_12" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_13" Visible="True" Left="3796px" Top="0px" ID="printer_13" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_14" Visible="True" Left="4050px" Top="0px" ID="printer_14" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_15" Visible="True" Left="4304px" Top="0px" ID="printer_15" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_16" Visible="True" Left="4558px" Top="0px" ID="printer_16" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_1_redirection" Visible="True" Left="4812px" Top="0px" ID="printer_1_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_2_redirection" Visible="True" Left="5066px" Top="0px" ID="printer_2_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_3_redirection" Visible="True" Left="5320px" Top="0px" ID="printer_3_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_4_redirection" Visible="True" Left="5574px" Top="0px" ID="printer_4_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_5_redirection" Visible="True" Left="5828px" Top="0px" ID="printer_5_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_6_redirection" Visible="True" Left="6082px" Top="0px" ID="printer_6_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_7_redirection" Visible="True" Left="6336px" Top="0px" ID="printer_7_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_8_redirection" Visible="True" Left="6590px" Top="0px" ID="printer_8_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_9_redirection" Visible="True" Left="6844px" Top="0px" ID="printer_9_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_10_redirection" Visible="True" Left="7098px" Top="0px" ID="printer_10_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_11_redirection" Visible="True" Left="7352px" Top="0px" ID="printer_11_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_12_redirection" Visible="True" Left="7606px" Top="0px" ID="printer_12_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_13_redirection" Visible="True" Left="7860px" Top="0px" ID="printer_13_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_14_redirection" Visible="True" Left="8114px" Top="0px" ID="printer_14_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_15_redirection" Visible="True" Left="8368px" Top="0px" ID="printer_15_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="printer_16_redirection" Visible="True" Left="8622px" Top="0px" ID="printer_16_redirection" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="drawer_first_open_active" Visible="True" Left="8876px" Top="0px" ID="drawer_first_open_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="drawer_second_open_active" Visible="True" Left="9130px" Top="0px" ID="drawer_second_open_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="drawer_check_status_active" Visible="True" Left="9384px" Top="0px" ID="drawer_check_status_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="drawer_status_return_logic_not" Visible="True" Left="9638px" Top="0px" ID="drawer_status_return_logic_not" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="drawer_on_printer" Visible="True" Left="9892px" Top="0px" ID="drawer_on_printer" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="drawer_hardware_device_type" Visible="True" Left="10146px" Top="0px" ID="drawer_hardware_device_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="customer_display_active" Visible="True" Left="10400px" Top="0px" ID="customer_display_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="barcode_reader_active" Visible="True" Left="10654px" Top="0px" ID="barcode_reader_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_active" Visible="True" Left="10908px" Top="0px" ID="msr_active" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_device_type" Visible="True" Left="11162px" Top="0px" ID="msr_device_type" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_second_track_only" Visible="True" Left="11416px" Top="0px" ID="msr_second_track_only" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_first_track_prefix" Visible="True" Left="11670px" Top="0px" ID="msr_first_track_prefix" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="6px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_first_track_suffix" Visible="True" Left="11676px" Top="0px" ID="msr_first_track_suffix" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="6px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_second_track_prefix" Visible="True" Left="11682px" Top="0px" ID="msr_second_track_prefix" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="6px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_second_track_suffix" Visible="True" Left="11688px" Top="0px" ID="msr_second_track_suffix" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="12px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_third_track_prefix" Visible="True" Left="11700px" Top="0px" ID="msr_third_track_prefix" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="6px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_third_track_suffix" Visible="True" Left="11706px" Top="0px" ID="msr_third_track_suffix" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="6px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_third_track_delay" Visible="True" Left="11712px" Top="0px" ID="msr_third_track_delay" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="msr_com_port" Visible="True" Left="11966px" Top="0px" ID="msr_com_port" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="254px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="queue_db_userid" Visible="True" Left="12220px" Top="0px" ID="queue_db_userid" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="177px"></vt:DataViewTextField>
<vt:DataViewTextField runat="server" DataMember="queue_db_password" Visible="True" Left="12397px" Top="0px" ID="queue_db_password" BorderStyle="None" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="16px" Width="177px"></vt:DataViewTextField>
</Fields>
</vt:DataViewBand>
	</Bands>
</vt:DataView>
</vt:ControlView>

