<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<global.u_cb>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:Button runat="server" ImageIndex="-1" TextAlign="MiddleCenter" AutoSize="True" ID="u_cb" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="28px" Width="88px" ActionClick="Close_MouseClick">
</vt:Button>

