<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<global.u_checkbox_query>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:CheckBox runat="server" ImageIndex="-1" TextAlign="MiddleCenter" AutoSize="True" Text="הצג שאילתא" ID="u_checkbox_query" BackColor="ButtonFace" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="20px" Width="98px">
</vt:CheckBox>

