<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<global.u_checkbox>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:CheckBox runat="server" ImageIndex="-1" TextAlign="MiddleCenter" AutoSize="True" Text="none" ID="u_checkbox" BackColor="ButtonFace" Font-Names="Arial" Font-Size="10pt" ForeColor="WindowText" Height="20px" Width="88px">
</vt:CheckBox>

