<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<global.u_msr>" %>
<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<vt:CompositeView runat="server" AutoSize="True" ID="u_msr" Font-Names="Microsoft Sans Serif" Font-Size="8.25pt" Height="258px" Width="455px">
</vt:CompositeView>

