
<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" StylesheetTheme="Example"%>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="RadioButton CheckAlign Property" ID="windowView1"  LoadAction="RadioButtonCheckAlign\OnLoad">

        <vt:Label runat="server" SkinID="Title" Text="CheckAlign" ID="lblTitle"></vt:Label>

        <vt:Label runat="server" Text="Gets or sets the location of the check box portion of the RadioButton.

            Syntax: public ContentAlignment CheckAlign { get; set; }
            Value: One of the valid ContentAlignment values. The default value is 'MiddleLeft'."
            Top="75px" ID="lblDefinition">
        </vt:Label>

        <vt:RadioButton runat="server" SkinID="BackColorRadioButton" Text="RadioButton" Height="80px" Width="300px" Top="175px" ID="TestedRadioButton1"></vt:RadioButton>
        
        <vt:Label runat="server" SkinID="Log" Top="265px" ID="lblLog1"></vt:Label>
        
        <vt:Label runat="server" SkinID="SubTitle" Text="Example:" Top="320px" ID="lblExample"></vt:Label>
       
         <vt:Label runat="server" Text="CheckAlign property of this RadioButton is initially set to 'BottomCenter'.
             Use the buttons below to change the Tested RadioButton CheckAlign value." Top="350px" ID="lblExp1"></vt:Label>

        <vt:RadioButton runat="server" SkinID="BackColorRadioButton" Text="TestedRadioButton" CheckAlign="BottomCenter" Height="80px" Width="300px" Top="415px" ID="TestedRadioButton2"></vt:RadioButton>
        
        <vt:Label runat="server" SkinID="Log" Top="505px" ID="lblLog2"></vt:Label>
 
        <vt:Button runat="server" Text="TopLeft" width="100px"  Top="550px" Left="80px" ID="btnTopLeft" TabIndex="1" ClickAction="RadioButtonCheckAlign\btnTopLeft_Click"></vt:Button>  
        <vt:Button runat="server" Text="TopCenter" width="100px" Top="550px" Left="240px" ID="btnTopCenter" TabIndex="1" ClickAction="RadioButtonCheckAlign\btnTopCenter_Click"></vt:Button>  
        <vt:Button runat="server" Text="TopRight"  width="100px" Top="550px" Left="400px" ID="btnTopRight" TabIndex="1" ClickAction="RadioButtonCheckAlign\btnTopRight_Click"></vt:Button>  
        <vt:Button runat="server" Text="MiddleLeft" width="100px"  Top="590px" Left="80px" ID="btnMiddleLeft" TabIndex="1" ClickAction="RadioButtonCheckAlign\btnMiddleLeft_Click"></vt:Button>  
        <vt:Button runat="server" Text="MiddleCenter" width="100px" Top="590px" Left="240px" ID="btnMiddleCenter" TabIndex="1" ClickAction="RadioButtonCheckAlign\btnMiddleCenter_Click"></vt:Button>  
        <vt:Button runat="server" Text="MiddleRight"  width="100px" Top="590px" Left="400px" ID="btnMiddleRight" TabIndex="1" ClickAction="RadioButtonCheckAlign\btnMiddleRight_Click"></vt:Button>  
        <vt:Button runat="server" Text="BottomLeft" width="100px"  Top="630px" Left="80px" ID="btnBottomLeft" TabIndex="1" ClickAction="RadioButtonCheckAlign\btnBottomLeft_Click"></vt:Button>   
        <vt:Button runat="server" Text="BottomCenter" width="100px" Top="630px" Left="240px" ID="btnBottomCenter" TabIndex="1" ClickAction="RadioButtonCheckAlign\btnBottomCenter_Click"></vt:Button>  
        <vt:Button runat="server" Text="BottomRight"  width="100px" Top="630px" Left="400px" ID="btnBottomRight" TabIndex="1" ClickAction="RadioButtonCheckAlign\btnBottomRight_Click"></vt:Button>  

        
    </vt:WindowView>
</asp:Content>