<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" StylesheetTheme="Example" %>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">
    <vt:WindowView runat="server" Text="GroupBox BackgroundImage Property" ID="windowView2" LoadAction="GroupBoxBackgroundImage\OnLoad">

        <vt:Label runat="server" SkinID="Title" Text="BackgroundImage" ID="lblTitle"></vt:Label>

        <vt:Label runat="server" Text="Gets or sets the background image displayed in the control" Top="75px" ID="lblDefinition"></vt:Label>

        <!-- TestedGroupBox1 -->
        <vt:GroupBox runat="server" Text="GroupBox" Top="110px" ID="TestedGroupBox1"></vt:GroupBox>

        <vt:Label runat="server" SkinID="Log" Top="205px" ID="lblLog1"></vt:Label>



        <vt:Label runat="server" SkinID="SubTitle" Text="Example:" Top="270px" ID="lblExample"></vt:Label>

        <vt:Label runat="server" Text="BackgroundImage property of this 'TestedGroupBox' is initially set with image" Top="320px" ID="lblExp1"></vt:Label>

        <!-- TestedGroupBox2 -->
        <vt:GroupBox runat="server" Text="TestedGroupBox" BackgroundImage="~/Content/Images/icon.jpg" Top="375px" ID="TestedGroupBox2"></vt:GroupBox>

        <vt:Label runat="server" SkinID="Log" Top="470px" ID="lblLog2"></vt:Label>

        <vt:Button runat="server" Text="Change BackgroundImage >>" Top="535px" Width="180px" ID="btnChangeBackgroundImage" ClickAction="GroupBoxBackgroundImage\btnChangeBackgroundImage_Click"></vt:Button>



    </vt:WindowView>

</asp:Content>
