﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="VTDocs.SiteMaster" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%: Page.Title %> - My ASP.NET Application</title>

    <script src="/Scripts/extjs/vt/ext-all-debug.js"></script>
   <%-- <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/packages/ux/classic/ux.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/packages/charts/classic/charts.js"></script>--%>

    <script src="/Scripts/visualtree.common.js"></script>
    <script src="/Scripts/visualtree.desktop.js"></script>
    <script src="/Scripts/exporter.js"></script>
    <script src="/Scripts/exporter-debug.js"></script>
    <script src="Scripts/extjs/vt/ext.ux.vtdataview.js"></script>

    <script src="Scripts/SPComponent/PalletManual.js"></script>
    <script src="Scripts/SPComponent/ReturnsDetails.js"></script>

    <!-- Example Scripts       -->
    <script src="/Examples/GridElement/GridCustomColumn/Scripts/CustomColumnRenderer.js"></script>

  <%--  <link id="theme" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-crisp/resources/theme-crisp-all.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/packages/charts/classic/crisp/resources/charts-all.css" rel="stylesheet" />
--%>

    <link href="/Content/vt-styles.css" rel="stylesheet" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="/Scripts/Custom.js"></script>
    <meta name="viewport" content="width=device-width" />
    <script>
        var themeIndex = 0;

        function SwapTheme() {

            // If s CTL+SHIFT+ALT
            if (event.altKey && event.ctrlKey && event.shiftKey) {
                if (themeIndex == 0) {
                    Ext.util.CSS.swapStyleSheet("theme", "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-classic/resources/theme-classic-all.css");
                }
                else if (themeIndex == 1) {
                    Ext.util.CSS.swapStyleSheet("theme", "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-gray/resources/theme-gray-all.css");
                }
                else if (themeIndex == 2) {
                    Ext.util.CSS.swapStyleSheet("theme", "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css");
                }
                else if (themeIndex == 3) {
                    Ext.util.CSS.swapStyleSheet("theme", "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-crisp/resources/theme-crisp-all.css");
                }


                // Cycle theme index value
                themeIndex++;
                if (themeIndex > 3) themeIndex = 0;
            }
        }
    </script>
    <style>
        body.x-border-layout-ct, div.x-border-layout-ct {
            background-color: #eee;
        }



        .black {
            background: #000;
            color: #FFF;
        }
    </style>

    <meta name="viewport" content="width=device-width" />
</head>
<body onkeydown="SwapTheme()">
    <form runat="server">
        <asp:ContentPlaceHolder runat="server" ID="Content" />
    </form>
</body>
</html>
