<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site.Master" Inherits="System.Web.Mvc.ViewPage" StylesheetTheme="Example"%>

<%@ Register Assembly="System.Web.VisualTree.WebControls" Namespace="System.Web.VisualTree.WebControls" TagPrefix="vt" %>
<asp:Content ContentPlaceHolderID="Content" runat="server">

    <vt:WindowView runat="server" Text="ListBox MinimumSize" ID="windowView1" LoadAction="ListBoxMinimumSize\OnLoad">

        <vt:Label runat="server" SkinID="Title" Text="MinimumSize" ID="lblTitle"></vt:Label>

        <vt:Label runat="server" Text="Gets or sets the size that is the lower limit - the size of a rectangular 
            area into which a control can be fitted.

            Syntax: public virtual Size MinimumSize { get; set; } 
            
            Value: An ordered pair of type System.Drawing.Size representing the width and height of a rectangle." Top="75px" ID="lblDefinition"></vt:Label>

        <vt:Label runat="server" SkinID="SubTitle" Text="Example:" Top="230px" ID="lblExample"></vt:Label>

        <vt:Label runat="server" Text="The defined Size of this 'TestedListBox' is width: 290px and height: 50px. 
            Its MinimumSize is initially set to width: 330px and height: 70px.
            To cancel 'TestedListBox' MinimumSize, set width and height values to 0px." Top="270px" ID="Label3"></vt:Label>

         <vt:ListBox runat="server" Top="350px" Left="80px" ID="TestedListBox" Text="TestedListBox" Height="50px" Width="290px" MinimumSize="330, 70">
            <Items>
                <vt:ListItem runat="server" Text="Helo World"></vt:ListItem>
                <vt:ListItem runat="server" Text="Welcome"></vt:ListItem>
                <vt:ListItem runat="server" Text="Good Morning"></vt:ListItem>
                <vt:ListItem runat="server" Text="Good Evening"></vt:ListItem>
            </Items>
        </vt:ListBox>

        <vt:Label runat="server" SkinID="Log" Top="445px" ID="lblLog1" Height="40" Width="400"></vt:Label>

        <vt:Button runat="server" Text="Change MinimumSize value >>" Top="540px" width="200px" Left="80px" ID="btnChangeLstMinimumSize" ClickAction="ListBoxMinimumSize\btnChangeLstMinimumSize_Click"></vt:Button>

        <vt:Button runat="server" Text="Set MinimumSize to (0, 0) >>" Top="540px" width="200px" Left="310px" ID="btnSetToZeroLstMinimumSize" ClickAction="ListBoxMinimumSize\btnSetToZeroLstMinimumSize_Click"></vt:Button>


    
    </vt:WindowView>
</asp:Content>






